<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="marx.min.css">
    <style>
        dl {
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
            width: 500px;
            overflow: visible;
        }

        dl>dl {
            margin-bottom: 0;
            padding-left: 1rem;
            border-left: 1.5px solid black;
        }

        #result {
            border: none;
        }

        dl dt {
            flex: 0 0 50%;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        dl dd {
            flex: 0 0 50%;
            margin-left: auto;
            text-align: left;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    </style>
    <script>
        let sessionUrl;
        let disclosedAttributesUrl;
        if (window.location.hash) {
            let sessionId = window.location.hash.substring(1)
            let publicUrl = [window.location.protocol, '//', window.location.host, window.location.pathname].join('');
            disclosedAttributesUrl = `${publicUrl}${window.location.pathname.endsWith('/') ? '' : '/'}disclosure/sessions/${sessionId}/disclosed_attributes`
            if (window.location.search.startsWith("?nonce=")) {
                let end = window.location.search.search("&")
                end = end === -1 ? window.location.search.length : end
                disclosedAttributesUrl += window.location.search.substring(0, end)
            }
        }
    </script>
</head>

<body>
    <main>
        <h1>Mock Relying Party</h1>
        <form method="POST">
            <h4>Select a usecase</h4>
            {% for (idx, option) in usecases.iter().enumerate() -%}
            <p>
                <input type="radio" name="usecase" id="{{ option }}" value="{{ option }}" {% if selected.is_some() &&
                    option==selected.as_ref().unwrap().usecase[..] || idx==0 %}checked{% endif %}>
                <label for="{{ option }}">{{ option }}</label>
            </p>
            {% endfor -%}
            <h4>Submit a session type</h4>
            {%- for type in MrpSessionType::iter() %}
            <p>
                <input type="submit" name="session_type" value="{{ type }}">
            </p>
            {% endfor -%}
        </form>
        <div id="session" {% if urls.is_none() %}style="display: none;" {% endif %}>
            <h2>Session</h2>
            <h3><span id="attributes"></span></h3>
            <dl>
                <dt>Status</dt>
                <dd><span id="status"></span></dd>
            </dl>
            <dl id="result">
            </dl>
        </div>
        {% match urls -%}
        {% when Some(urls) -%}
        <dl>
            <dt>Usecase</dt>
            <dd>{{ selected.as_ref().unwrap().usecase }}</dd>

            <dt>Type</dt>
            {% if (selected.as_ref().unwrap().session_type == MrpSessionType::SameDevice) ||
            (selected.as_ref().unwrap().session_type == MrpSessionType::SameDeviceNoReturn) %}
            <dd>{{ selected.as_ref().unwrap().session_type }}</dd>
        </dl>
        <a id="universal-link" href="#" target="_blank" style="font-size: 2rem;" rel="noopener" disabled>
            Open NL Wallet
        </a>
        {% else %}
        <dd>{{ selected.as_ref().unwrap().session_type }}</dd>
        </dl>
        <canvas width="400" height="400" id="universal-link" style="cursor: none;"></canvas>

        <script src="qrcodegen.min.js"></script>
        <script>
            document.getElementById("status").innerText = 'CREATED'
        </script>
        {% endif %}
        <script>
            sessionUrl = '{{ urls.0 }}' // overwrite sessionUrl
            disclosedAttributesUrl = '{{ urls.1 }}' // overwrite disclosedAttributesUrl
        </script>
        {% when None -%}
        {% endmatch -%}
    </main>
    <script>
        console.log('Results URL: ', disclosedAttributesUrl);

        let sessionDiv = document.getElementById('session')
        let statusSpan = document.getElementById('status')
        let resultList = document.getElementById('result')
        let attributesSpan = document.getElementById('attributes')
        let interval = null

        const loadStatus = (session_token) => {
            fetch(sessionUrl).then(res => res.json()).then(body => {
                sessionDiv.style = 'display: block;'
                statusSpan.innerText = body.status
                if (body.status == 'CREATED') {
                    console.log('session created, nothing happened yet')
                    updateEngagementUrl(body.engagement_url)
                } else if (body.status == 'WAITING') {
                    console.log('waiting for response, qr is scanned')
                } else if (body.status == 'DONE') {
                    console.log('we are done')
                    fetch(disclosedAttributesUrl).then(res => res.json()).then(disclosed_attributes => {
                        console.log('results: ', disclosed_attributes)
                        showResults(disclosed_attributes)
                    }).catch(e => {
                        console.error(e)
                        statusSpan.innerText = 'ERROR'
                    })
                    clearInterval(interval);
                } else if (body.status == 'FAILED') {
                    console.log('session failed: ' + body.error)
                    clearInterval(interval)
                } else if (body.status == 'CANCELLED') {
                    console.log('session got cancelled')
                    clearInterval(interval)
                } else if (body.status == 'Expired') {
                    console.log('session has expired')
                    clearInterval(interval)
                }
            }).catch(e => {
                console.error(e)
                statusSpan.innerText = 'ERROR'
            })
        }

        {% match urls -%}
        {% when Some(urls) -%}
        const updateEngagementUrl = (url) => {
          console.log('Engagement URL: ' + url) // write engagement URL to console (Note: unescaped!)
          {% if (selected.as_ref().unwrap().session_type == MrpSessionType::SameDevice) ||
          (selected.as_ref().unwrap().session_type == MrpSessionType::SameDeviceNoReturn) %}
          let sameDeviceUlElem = document.getElementById('universal-link')
          sameDeviceUlElem.href = url
          sameDeviceUlElem.removeAttribute('disabled');
          {% else %}
          qrcodegen.init().then(function (api) {
              let matrix = api.encodeText(url, qrcodegen.Ecc.LOW)
              let canvas = document.getElementById('universal-link')
              qrcodegen.drawCanvas(canvas, matrix)
          })
          {% endif %}
        }
        {% when None -%}
        {% endmatch -%}

        const showResults = (attributes) => {
            for (doctype in attributes) {
                let doctypeElem = document.createElement('dt')
                doctypeElem.innerText = 'Doctype'

                let doctypeTextElem = document.createElement('dd')
                doctypeTextElem.innerText = doctype

                resultList.appendChild(doctypeElem)
                resultList.appendChild(doctypeTextElem)

                let documentList = document.createElement('dl')
                let issuerElem = document.createElement('dt')
                issuerElem.innerText = 'Issuer'

                let issuerTextElem = document.createElement('dd')
                issuerTextElem.innerText = attributes[doctype].issuer.join(',')

                documentList.appendChild(issuerElem)
                documentList.appendChild(issuerTextElem)

                let attributesElem = document.createElement('dt')
                attributesElem.innerText = 'Attributes'

                let attributesList = document.createElement('dl')
                for (namespace in attributes[doctype].attributes) {
                    let namespaceElem = document.createElement('dt')
                    namespaceElem.innerText = 'Namespace'

                    let namespaceTextElem = document.createElement('dd')
                    namespaceTextElem.innerText = namespace

                    attributesList.appendChild(namespaceElem)
                    attributesList.appendChild(namespaceTextElem)

                    let namespaceList = document.createElement('dl')
                    for (idx in attributes[doctype].attributes[namespace]) {
                        let attributeElem = document.createElement('dt')
                        attributeElem.innerText = attributes[doctype].attributes[namespace][idx]['name']

                        let attributeTextElem = document.createElement('dd')
                        attributeTextElem.innerText = attributes[doctype].attributes[namespace][idx]['value']

                        namespaceList.appendChild(attributeElem)
                        namespaceList.appendChild(attributeTextElem)
                    }
                    attributesList.appendChild(namespaceList)
                }
                documentList.appendChild(attributesElem)
                documentList.appendChild(attributesList)

                let validityElem = document.createElement('dt')
                validityElem.innerText = 'Validity'
                let validityList = document.createElement('dl')

                let signedElem = document.createElement('dt')
                signedElem.innerText = 'Signed'

                let signedTextElem = document.createElement('dd')
                signedTextElem.innerText = attributes[doctype].validityInfo.signed

                validityList.appendChild(signedElem)
                validityList.appendChild(signedTextElem)

                let validFromElem = document.createElement('dt')
                validFromElem.innerText = 'ValidFrom'

                let validFromTextElem = document.createElement('dd')
                validFromTextElem.innerText = attributes[doctype].validityInfo.validFrom

                validityList.appendChild(validFromElem)
                validityList.appendChild(validFromTextElem)

                let validUntilElem = document.createElement('dt')
                validUntilElem.innerText = 'ValidUntil'

                let validUntilTextElem = document.createElement('dd')
                validUntilTextElem.innerText = attributes[doctype].validityInfo.validUntil

                validityList.appendChild(validUntilElem)
                validityList.appendChild(validUntilTextElem)

                documentList.appendChild(validityElem)
                documentList.appendChild(validityList)
                resultList.appendChild(documentList)
            }

            let resultElem = document.createElement('dt')
            resultElem.innerText = 'Result'
            statusSpan.innerText = 'DONE'

            resultList.parentElement.insertBefore(resultElem, resultList)

            let ul = document.getElementById('universal-link')
            if (ul) {
              ul.remove()
            }
        }

        // either start polling or, if we have a disclosedAttributesUrl, fetch the results
        if (sessionUrl) {
            console.log('Session URL: ', sessionUrl)
            loadStatus(sessionUrl)

            interval = setInterval(() => {
                loadStatus(sessionUrl)
            }, 2000);
        } else if (disclosedAttributesUrl) {
            sessionDiv.style = 'display: block;'
            fetch(disclosedAttributesUrl).then(res => res.json()).then(disclosed_attributes => {
                console.log('results: ', disclosed_attributes)
                showResults(disclosed_attributes)
            }).catch(e => {
                console.error(e)
                statusSpan.innerText = 'ERROR'
            })
        }
    </script>
</body>

</html>
