.buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.buttons nl-wallet-button {
  display: flex;
  width: fit-content;
}

.buttons button,
.buttons nl-wallet-button::part(button) {
  display: flex;
  gap: 12px;
  width: fit-content;
}

.buttons button > span,
.buttons nl-wallet-button::part(button-span) {
  display: flex;
  background: var(--primary-color);
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 20px;
  border-radius: 12px;
  padding: 16px 24px;
}

.buttons button::after,
.buttons nl-wallet-button::part(button)::after {
  content: " ";
  border-radius: 6px;
  width: 52px;
  height: 52px;
}

.buttons button:hover:not(:disabled) > span,
.buttons nl-wallet-button::part(button-span):hover:not(:disabled) {
  background: var(--hover-color);
}

.buttons nl-wallet-button::part(button)::after {
  background: url("../non-free/images/nl-wallet.svg") no-repeat center center / cover;
}

.buttons #digid::after {
  background: url("../non-free/images/digid.svg") no-repeat center center / cover;
}

.buttons button:disabled {
  cursor: not-allowed;
}
