* {
  box-sizing: border-box;
}

:root {
  font-family: "RO Sans", sans-serif;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 16px;
  line-height: 1.5;
}

body {
  background: #faf9fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: var(--text-color);
}

main a {
  color: var(--primary-color);
  font-weight: 700;
  letter-spacing: 1px;
}

main a:hover {
  color: var(--hover-color);
}
