name: wallet
description: EDI - NL Public Reference Wallet

# Prevent accidental publishing to pub.dev.
publish_to: 'none'

version: 0.3.0-dev

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  after_layout: ^1.2.0
  app_links: ^6.0.2
  app_settings: ^5.1.1
  bloc_concurrency: ^0.2.5
  collection: ^1.18.0
  connectivity_plus: ^6.0.3
  country_codes: ^3.1.0+2
  device_info_plus: ^10.1.0
  equatable: ^2.0.5
  ffi: ^2.1.0
  fimber: ^0.7.0
  flutter:
    sdk: flutter
  flutter_bloc: ^8.1.5
  flutter_localizations:
    sdk: flutter
  flutter_markdown: ^0.7.3+1
  flutter_native_splash: ^2.4.0
  flutter_rust_bridge: 2.7.0
  flutter_staggered_grid_view: ^0.7.0
  flutter_sticky_header: ^0.7.0
  flutter_svg: ^2.0.10+1
  golden_toolkit: ^0.15.0
  internet_connection_checker: ^1.0.0+1
  intl: ^0.19.0
  json_annotation: ^4.9.0
  json_serializable: ^6.8.0
  local_auth: ^2.3.0
  lottie: ^3.1.2
  meta: ^1.12.0
  mobile_scanner: ^5.1.1
  native_device_orientation: ^2.0.3
  package_info_plus: ^8.0.0
  permission_handler: ^11.3.1
  provider: ^6.1.2
  qr_flutter: ^4.1.0
  root_jailbreak_sniffer: ^1.0.9
  rxdart: ^0.27.7
  screen_brightness: ^1.0.1
  sensors_plus: ^5.0.1
  sentry_flutter: ^8.9.0
  shared_preferences: ^2.2.3
  store_redirect: ^2.0.3
  url_launcher: ^6.2.6
  vibration: ^1.9.0
  visibility_detector: ^0.4.0+2
  wallet_core:
    path: ./packages/wallet_core
  wallet_mock:
    path: ./packages/wallet_mock

dev_dependencies:
  bloc_test: ^9.1.7
  build_runner: ^2.4.10
  flutter_driver:
    sdk: flutter
  flutter_lints: ^4.0.0
  flutter_test:
    sdk: flutter
  get_it: ^7.7.0
  mockito: ^5.4.4
  rename: ^3.0.2
  sentry_dart_plugin: ^1.0.0
  test: ^1.24.9
  translations_cleaner: ^0.0.5

flutter:
  uses-material-design: true

  # Enable generation of localized Strings from arb files.
  generate: true

  assets:
    # Add assets to the application.
    - assets/non-free/svg/
    - assets/non-free/images/
    - assets/non-free/logos/
    - assets/non-free/fonts/
    - assets/non-free/illustrations/
    - assets/non-free/icons/
    - assets/non-free/lottie/
    - assets/non-free/markdown/

  fonts:
    - family: RijksoverheidSansWebText
      fonts:
        - asset: assets/non-free/fonts/rijksoverheid-sans-web-text-regular.ttf
          weight: 400
        - asset: assets/non-free/fonts/rijksoverheid-sans-web-text-bold.ttf
          weight: 700
    - family: WalletIcons
      fonts:
        - asset: assets/non-free/fonts/WalletIcons.ttf

# Generate with `dart run flutter_native_splash:create`
flutter_native_splash:
  image: assets/non-free/logos/3.0x/wallet.png
  color: "#FCFCFC"
  color_dark: "#1C1E25"
  android_gravity: center
  ios_content_mode: center
  android_12:
    image: assets/non-free/logos/splash_logo.png
    icon_background_color: "#FCFCFC"
    image_dark: assets/non-free/logos/splash_logo.png
    icon_background_color_dark: "#1C1E25"

# See: https://pub.dev/packages/sentry_dart_plugin
sentry:
  # project: wallet # Env. variable: SENTRY_PROJECT
  # org: wallet # Env. variable: SENTRY_ORG
  # auth_token: ... # Env. variable: SENTRY_AUTH_TOKEN
  # url: ... # Env. variable: SENTRY_URL
  # release: ... # Use default: name@version from pubspec, Env. variable: SENTRY_RELEASE
  # web_build_path: build/web # Not applicable
  upload_debug_symbols: true
  upload_source_maps: false
  upload_sources: false
  wait_for_processing: true
  log_level: debug # Env. variable: SENTRY_LOG_LEVEL
  commits: false
  ignore_missing: true
