name: wallet
description: EDI - NL Public Reference Wallet

# Prevent accidental publishing to pub.dev.
publish_to: 'none'

version: 0.4.0-dev

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  after_layout: ^1.2.0
  app_links: ^6.4.0
  app_settings: ^6.1.1
  bloc_concurrency: ^0.3.0
  collection: ^1.19.1
  connectivity_plus: ^6.1.3
  country_codes: ^3.3.0
  cupertino_icons: ^1.0.8
  device_info_plus: ^11.3.3
  equatable: ^2.0.7
  fimber: ^0.7.0
  flutter:
    sdk: flutter
  flutter_bloc: ^9.1.0
  flutter_localizations:
    sdk: flutter
  flutter_markdown: ^0.7.6+2
  flutter_native_splash: ^2.4.5
  flutter_rust_bridge: any # explicit transitive dependency to satisfy sonarqube
  flutter_staggered_grid_view: ^0.7.0
  flutter_sticky_header: ^0.8.0
  flutter_svg: ^2.0.10+1
  internet_connection_checker: ^3.0.1
  intl: ^0.20.2
  json_annotation: ^4.9.0
  json_serializable: ^6.9.4
  local_auth: ^2.3.0
  local_auth_android: any # explicit transitive dependency to satisfy sonarqube
  local_auth_darwin: any # explicit transitive dependency to satisfy sonarqube
  lottie: ^3.3.1
  meta: ^1.16.0
  mobile_scanner: ^7.0.0
  package_info_plus: ^8.3.0
  permission_handler: ^12.0.0+1
  provider: ^6.1.2
  qr_flutter: ^4.1.0
  root_jailbreak_sniffer: ^1.1.1
  rxdart: ^0.28.0
  screen_brightness: ^2.1.4
  sensors_plus: ^6.1.1
  sentry_flutter: ^9.6.0
  shared_preferences: ^2.5.2
  store_redirect: ^2.0.4
  url_launcher: ^6.3.1
  vector_graphics: any # explicit transitive dependency to satisfy sonarqube
  vibration: ^3.1.3
  video_player: ^2.9.5
  visibility_detector: ^0.4.0+2
  wallet_core:
    path: ./packages/wallet_core
  wallet_mock:
    path: ./packages/wallet_mock

dev_dependencies:
  bloc_test: ^10.0.0
  build_runner: ^2.4.15
  flutter_driver:
    sdk: flutter
  flutter_lints: ^5.0.0
  flutter_test:
    sdk: flutter
  get_it: ^8.0.3
  mockito: ^5.4.5
  semantic_announcement_tester: ^0.0.6
  sentry_dart_plugin: ^2.4.1
  test: ^1.25.15
  translations_cleaner: ^0.0.5

flutter:
  uses-material-design: true

  # Enable generation of localized Strings from arb files.
  generate: true

  assets:
    # Add assets to the application.
    - assets/non-free/svg/
    - assets/non-free/images/
    - assets/non-free/logos/
    - assets/non-free/fonts/
    - assets/non-free/illustrations/
    - assets/non-free/icons/
    - assets/non-free/lottie/
    - assets/non-free/markdown/

  fonts:
    - family: RijksoverheidSansWebText
      fonts:
        - asset: assets/non-free/fonts/rijksoverheid-sans-web-text-regular.ttf
    - family: WalletIcons
      fonts:
        - asset: assets/non-free/fonts/WalletIcons.ttf

# Generate with `dart run flutter_native_splash:create`
flutter_native_splash:
  image: assets/non-free/logos/splash_logo.png
  color: "#FCFCFC"
  color_dark: "#1C1E25"
  android_gravity: center
  ios_content_mode: center
  android_12:
    image: assets/non-free/logos/splash_logo_padded.png
    icon_background_color: "#FCFCFC"
    image_dark: assets/non-free/logos/splash_logo_padded.png
    icon_background_color_dark: "#1C1E25"

# See: https://pub.dev/packages/sentry_dart_plugin
sentry:
  # project: wallet # Env. variable: SENTRY_PROJECT
  # org: wallet # Env. variable: SENTRY_ORG
  # auth_token: ... # Env. variable: SENTRY_AUTH_TOKEN
  # url: ... # Env. variable: SENTRY_URL
  # release: ... # Use default: name@version from pubspec, Env. variable: SENTRY_RELEASE
  # web_build_path: build/web # Not applicable
  upload_debug_symbols: true
  upload_source_maps: false
  upload_sources: false
  wait_for_processing: true
  log_level: debug # Env. variable: SENTRY_LOG_LEVEL
  commits: false
  ignore_missing: true
