# Global variables
variables:
  RDO_MAX_VERSION:
    value: v4.0.3
    description: "The version of RDO max to use"
  RDO_MAX_SHA256SUM:
    value: fc917dffbe97dd36f89e185af42f853d1251acdc73ee2faa398c4ed89471c26f
    description: "The SHA256 sum of the rdo-max tar archive"

# Obtain nl-rdo-max
get-rdo-max-source:
  rules:
    - if: $CI_PIPELINE_SOURCE == "parent_pipeline"
  image:
    name: "${HARBOR_REGISTRY}/${HARBOR_PROJECT}/nl-wallet-app-builder-ci-node:${BUILD_TAG}"
  variables:
    GIT_STRATEGY: empty
  script:
    - mkdir -p nl-rdo-max
    - curl -fsSL "https://github.com/minvws/nl-rdo-max/tarball/${RDO_MAX_VERSION}" -o "nl-rdo-max-${RDO_MAX_VERSION}.tar.gz"
    - echo "${RDO_MAX_SHA256SUM} nl-rdo-max-${RDO_MAX_VERSION}.tar.gz" | sha256sum -c
    - tar xzf "nl-rdo-max-${RDO_MAX_VERSION}.tar.gz" -C nl-rdo-max --strip-components=1
    - cd nl-rdo-max
    - npm uninstall @minvws/nl-rdo-rijksoverheid-ui-theme
  artifacts:
      name: rdo-max-source
      paths:
        - nl-rdo-max

# Build nl-rdo-max
build-rdo-max-image:
  needs:
    - job: get-rdo-max-source
      artifacts: true
  rules:
    - if: $CI_PIPELINE_SOURCE == "parent_pipeline"
  image: "$HARBOR_REGISTRY/quay-proxy/buildah/stable"
  tags:
    - linux
  variables:
    GIT_STRATEGY: none
    STORAGE_DRIVER: vfs
    BUILDAH_FORMAT: docker
    BUILDAH_ISOLATION: chroot
  before_script:
    - echo "$(echo "$HARBOR_GN2_ROBOT_SECRET" | base64 -d)" | buildah login -u "$HARBOR_GN2_ROBOT_NAME" --password-stdin "$HARBOR_REGISTRY"
  script:
    - cd nl-rdo-max
    - |
      buildah build \
        --build-arg APP_GROUP=app \
        --build-arg APP_USER=app \
        --build-arg LOCAL_SOURCE_DIR=. \
        --build-arg PROJECT_DIR=/app \
        --file docker/Dockerfile \
        --tag "$HARBOR_REGISTRY/$HARBOR_PROJECT/nl-rdo-max:$RDO_MAX_VERSION"
    - buildah push "$HARBOR_REGISTRY/$HARBOR_PROJECT/nl-rdo-max:$RDO_MAX_VERSION"
