@import url("../../../../lib/web_utils/static/css/reset.css");
@import url("../../../../lib/web_utils/static/css/button-reset.css");
@import url("../../../../lib/web_utils/static/css/fonts.css");
@import url("../../../../lib/web_utils/static/css/language_selector.css");
@import url("../../../demo_utils/static/css/demo_bar.css");
@import url("../../../demo_utils/static/css/common.css");
@import url("../../../demo_utils/static/css/title_bar.css");
@import url("../../../demo_utils/static/css/notification.css");
@import url("../../../demo_utils/static/css/container.css");

:root {
  --primary-color: #288b36;
  --hover-color: #0bbb52;
  --title-color: #30293d;
  --text-color: #2e2e2e;
  --notification-color: #288b36;
  --error-color: #ab0048;
  --logo-url: url("../images/job_finder.svg");
}

header h1 span.part {
  color: var(--primary-color);
}

header h1::before {
  display: none;
}
