@import url("../../../demo_utils/static/css/buttons-after.css");
@import url("./mijn_amsterdam.css");

.buttons button > span,
.buttons nl-wallet-button::part(button-span) {
  padding: 10px 16px;
  border-radius: 0;
}

.buttons button::after,
.buttons nl-wallet-button::part(button)::after {
  width: 40px;
  height: 40px;
}
