@import url("./monkey_bike.css");
@import url("./title_bar.css");
@import url("./page.css");
@import url("./search.css");
@import url("./products.css");

@media only screen and (min-width: 1145px) {
  header h1::before {
    border-radius: 12px;
    width: 64px;
    height: 64px;
  }
}

@media only screen and (min-width: 1145px) {
  .notification {
    padding: 16px 24px;
  }
}
