@import url("../../../../lib/web_utils/static/css/reset.css");
@import url("../../../../lib/web_utils/static/css/button-reset.css");
@import url("../../../../lib/web_utils/static/css/fonts.css");
@import url("../../../../lib/web_utils/static/css/language_selector.css");
@import url("../../../demo_utils/static/css/demo_bar.css");
@import url("../../../demo_utils/static/css/common.css");
@import url("../../../demo_utils/static/css/notification.css");

:root {
  --primary-color: #563dc8;
  --title-color: #30293d;
  --text-color: #2e2e2e;
  --error-color: #ab0065;
  --logo-url: url("../images/monkey_bike.svg");
}

header h1::before {
  border-radius: 6px;
  width: 32px;
  height: 32px;
}

@media only screen and (min-width: 1145px) {
  header h1::before {
    border-radius: 12px;
    width: 64px;
    height: 64px;
  }
}
