@import url("../../../../lib/web_utils/static/css/reset.css");
@import url("../../../../lib/web_utils/static/css/button-reset.css");
@import url("../../../../lib/web_utils/static/css/fonts.css");
@import url("../../../../lib/web_utils/static/css/language_selector.css");
@import url("../../../demo_utils/static/css/demo_bar.css");
@import url("../../../demo_utils/static/css/common.css");
@import url("../../../demo_utils/static/css/notification.css");

:root {
  --primary-color: #007279;
  --title-color: #2e2e2e;
  --text-color: #30293d;
  --error-color: #ab0065;
  --logo-url: url("../images/online_marketplace.svg");
}
