@import url("../../../../lib/web_utils/static/css/reset.css");
@import url("../../../../lib/web_utils/static/css/button-reset.css");
@import url("../../../../lib/web_utils/static/css/fonts.css");
@import url("../../../../lib/web_utils/static/css/language_selector.css");
@import url("../../../demo_utils/static/css/demo_bar.css");
@import url("../../../demo_utils/static/css/common.css");
@import url("../../../demo_utils/static/css/title_bar.css");
@import url("../../../demo_utils/static/css/notification.css");
@import url("../../../demo_utils/static/css/container.css");

:root {
  --primary-color: #ab0065;
  --hover-color: #5a0035;
  --title-color: #30293d;
  --text-color: #2e2e2e;
  --notification-color: #007279;
  --error-color: #ab0048;
  --logo-url: url("../images/xyz_bank.svg");
}

main h4 {
  color: var(--primary-color);
}
