@import url("./reset.css");
@import url("./button-reset.css");
@import url("./fonts.css");
@import url("./common.css");
@import url("./notification.css");

:root {
  --primary-color: #563dc8;
  --error-color: #ab0065;
  --logo-url: url("../images/monkey_bike.svg");
}

header h1::before {
  border-radius: 6px;
  width: 32px;
  height: 32px;
}

@media only screen and (min-width: 1145px) {
  header h1::before {
    border-radius: 12px;
    width: 64px;
    height: 64px;
  }
}
