@import url("./xyz_bank.css");
@import url("./buttons-after.css");

/* only xyz_bank has a link */
main a {
  color: var(--primary-color);
  font-weight: 700;
  letter-spacing: 1px;
}

main a:hover {
  color: var(--hover-color);
}

.buttons nl-wallet-button::part(button-span) {
  border-radius: 12px;
  padding: 16px 24px;
}

.buttons nl-wallet-button::part(button)::after,
.buttons button::part(button)::after {
  width: 52px;
  height: 52px;
}
