# Miscellaneous
target/
*.class
*.log
*.pyc
*.swp
*.so
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
.env
.ruby-version
.direnv

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# SublimeText related
*.sublime-project
*.sublime-workspace

# VScode related
*.code-workspace

# A saner location for emacs/vim tags files
.tags

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter leaves this file behind in the current working directory
/build/.last_build_id

# Android builds
/*.aab
/*.apk
/*.apks

# iOS builds
/*.ipa
/*.dSYM.zip

# Ruby gems
/vendor/

# Fastlane
/fastlane/report.xml
/fastlane/Preview.html
/fastlane/screenshots
/fastlane/test_output
/fastlane/entitlements.plist

# Fastlane resign
_floatsignTemp/

# DigiD connector checkout from devenv
/nl-rdo-max
