# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.so
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
.env*
.ruby-version

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# A saner location for emacs/vim tags files
.tags

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# FVM symlink
wallet_app/.fvm/flutter_sdk

# Flutter leaves this file behind in the current working directory
/build/.last_build_id

# Android shared libraries
jniLibs/

# Android builds
/*.aab
/*.apk

# iOS builds
/*.ipa
/*.dSYM.zip

# Ruby gems
/vendor/

# Fastlane
/fastlane/report.xml
/fastlane/Preview.html
/fastlane/screenshots
/fastlane/test_output

# Golden test failures
**/failures/*.png

# Local coverage reports
wallet_app/coverage

# UI automation
uiautomation/node_modules

# gitlab-ci-local
/.gitlab-ci-local-variables.yml
/.gitlab-ci-local/

# DigiD connector checkout from devenv
/nl-rdo-max