[package]
name = "wallet_provider_migrations"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[[bin]]
name = "wallet_provider_migrations"
doctest = false

[dependencies]
async-trait.workspace = true
sea-orm-migration = { workspace = true, features = [
    "cli",
    "runtime-tokio-rustls",
    "sqlx-postgres",
    "with-chrono",
    "with-uuid",
] }
tokio = { workspace = true, features = ["rt-multi-thread", "parking_lot", "macros"] }

status_lists_migrations.path = "../../wallet_server/status_lists/migrations"
wallet_provider_database_settings.path = "../database_settings"
