[package]
name = "pid_issuer"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
exclude = ["resources"]

[lints]
workspace = true

[lib]
doctest = false

[[bin]]
name = "pid_issuer"

[[test]]
name = "settings"
path = "tests/settings.rs"
required-features = ["integration_test"]

[features]
default = ["postgres"]
# Allow the disclosure return URL and its prefix to use http://
allow_insecure_url = ["http_utils/allow_insecure_url", "openid4vc/allow_insecure_url"]
# Include session storage in PostgreSQL
postgres = [
    "sea-orm/macros",
    "sea-orm/runtime-tokio-rustls",
    "sea-orm/sqlx-postgres",
    "sea-orm/with-chrono",
    "sea-orm/with-json",
    "server_utils/postgres",
]
# Include and run integration tests that depend on an external PostgreSQL database
db_test = ["allow_insecure_url", "openid4vc/test", "postgres", "tokio/sync"]
# Enable mock PID issuance
mock = ["attestation_data/mock", "derive_more/constructor", "openid4vc/mock"]
# Enable integration tests
integration_test = ["allow_insecure_url", "server_utils/parsed_key_pair_conversion"]

[dependencies]
anyhow.workspace = true
axum.workspace = true
chrono = { workspace = true, features = ["serde"] }
config = { workspace = true, features = ["toml", "preserve_order"] }
futures = { workspace = true, features = ["std", "async-await"] }
hex.workspace = true
indexmap = { workspace = true, features = ["serde"] }
itertools.workspace = true
p256 = { workspace = true, features = ["ecdsa", "pkcs8"] }
reqwest.workspace = true
ring.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
serde_with = { workspace = true, features = ["base64"] }
thiserror.workspace = true
tokio = { workspace = true, features = ["parking_lot", "rt-multi-thread", "net"] }
url = { workspace = true, features = ["serde"] }

derive_more = { workspace = true, optional = true }
sea-orm = { workspace = true, optional = true }

attestation_data = { path = "../../lib/attestation_data" }
attestation_types = { path = "../../lib/attestation_types", features = ["pid_constants"] }
crypto.path = "../../lib/crypto"
issuer_settings.path = "../issuer_settings"
hsm = { path = "../../lib/hsm", features = ["settings"] }
http_utils = { path = "../../lib/http_utils", features = ["server"] }
jwt.path = "../../lib/jwt"
openid4vc = { path = "../../lib/openid4vc", features = ["axum"] }
openid4vc_server = { path = "../../lib/openid4vc_server", features = ["issuance"] }
utils = { path = "../../lib/utils" }
server_utils = { path = "../server_utils", features = ["checkers"] }
status_lists = { path = "../status_lists", features = ["axum"] }
token_status_list.path = "../../lib/token_status_list"

[dev-dependencies]
rstest.workspace = true
tokio = { workspace = true, features = ["macros", "test-util"] }

attestation_data = { path = "../../lib/attestation_data", features = ["generate", "mock"] }
utils = { path = "../../lib/utils", features = ["mock_time"] }
