[package]
name = "update_policy_server"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[[bin]]
name = "update_policy_server"

[lib]
doctest = false

[dependencies]
anyhow.workspace = true
axum = { workspace = true, features = ["json"] }
axum-server = { workspace = true, features = ["tls-rustls-no-provider"] }
chrono = { workspace = true, features = ["serde"] }
config = { workspace = true, features = ["toml"] }
etag.workspace = true
http.workspace = true
postcard = { workspace = true, features = ["use-std"] }
rustls.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_with = { workspace = true, features = ["base64"] }
strum.workspace = true
tokio = { workspace = true, features = ["rt-multi-thread", "parking_lot"] }
tracing.workspace = true
tracing-subscriber = { workspace = true, features = ["ansi", "env-filter", "json"] }

http_utils = { path = "../../lib/http_utils", features = ["server"] }
update_policy_model.path = "../model"
utils.path = "../../lib/utils"

[dev-dependencies]
indexmap.workspace = true
rstest.workspace = true
serde_json.workspace = true

utils = { path = "../../lib/utils", features = ["mock_time"] }
