ip = "0.0.0.0"
port = 8001

[update_policy]
"=1.1.0" = "Notify"
"=1.2.0" = "Block"
">=0.1.0, <1.0.0" = { "Block" = "1970-01-05T00:00:00Z" }
"<0.5.0" = { "Recommend" = "1969-01-01T00:00:00Z" }

[update_policy."<=1.0.0, >1.1.0"]
"Recommend" = "1970-01-01T00:00:00Z"

[update_policy."=2.0.0"]
"Block" = "1971-01-01T00:00:00Z"
