/config_server.toml
/gba_hc_converter.toml
/pid_issuer.toml
/issuance_server.toml
/update_policy_server.toml
/wallet.toml
/wallet_provider.toml
/verification_server.toml
/pid_issuer.toml
/wallet-config.json
/*.der
/*.pem
/*.der
*.snap.new
/eudi:*.json
/com.example.*.json
