[package]
name = "audit_log_macros"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[lib]
doctest = true
proc-macro = true

[dependencies]
itertools.workspace = true
proc-macro2.workspace = true
quote.workspace = true
syn = { workspace = true, features = ["full"] }

[dev-dependencies]
rstest.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true

audit_log.path = "../"
