@import url("./reset.css");
@import url("./button-reset.css");
@import url("./fonts.css");
@import url("./common.css");
@import url("./notification.css");

:root {
  --primary-color: #007279;
  --title-color: #2e2e2e;
  --text-color: #30293d;
  --error-color: #ab0065;
  --logo-url: url("../images/online_marketplace.svg");
}
