@import url("./reset.css");
@import url("./button-reset.css");
@import url("./fonts.css");
@import url("./common.css");
@import url("./title_bar.css");
@import url("./notification.css");
@import url("./container.css");

:root {
  --primary-color: #ab0065;
  --hover-color: #5a0035;
  --title-color: #30293d;
  --text-color: #2e2e2e;
  --notification-color: #007279;
  --error-color: #ab0048;
  --logo-url: url("../images/xyz_bank.svg");
}

main h4 {
  color: var(--primary-color);
}
