[package]
name = "readable_identifier"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[lib]
doctest = false

[dependencies]
derive_more = { workspace = true, features = ["display", "into"] }
rand.workspace = true
serde.workspace = true
thiserror.workspace = true

[dev-dependencies]
assert_matches.workspace = true
rstest.workspace = true
