# Global variables, used by all jobs
variables:
  IMAGE_PREFIX:
    value: "nl-wallet-app-builder"
    description: "Prefix to use for Docker image name"

# The default image to use for each job
default:
  image: "$HARBOR_REGISTRY/quay-proxy/buildah/stable:v1.42.2"
  tags:
    - linux

.build:
  rules:
    - if: $CI_PIPELINE_SOURCE == "parent_pipeline"
  before_script:
    - mkdir -p ~/.docker
    - echo $DOCKER_AUTH_CONFIG > ~/.docker/config.json
  script: sh "deploy/docker-images/build-ci.sh" "$CI_JOB_NAME"
  variables:
    STORAGE_DRIVER: vfs
    BUILDAH_FORMAT: docker
    BUILDAH_ISOLATION: chroot

# Build ci Dockerfiles
ci-base:
  extends: .build
ci-ansible:
  extends: .build
  needs: [{job: ci-base, artifacts: false}]
ci-node:
  extends: .build
  needs: [{job: ci-base, artifacts: false}]
ci-rust:
  extends: .build
  needs: [{job: ci-node, artifacts: false}]
ci-flutter:
  extends: .build
  needs: [{job: ci-rust, artifacts: false}]
ci-android:
  extends: .build
  needs: [{job: ci-flutter, artifacts: false}]
ci-android-emulator:
  extends: .build
  needs: [{job: ci-android, artifacts: false}]
ci-playwright:
  extends: .build
  needs: [{job: ci-node, artifacts: false}]
ci-quality:
  extends: .build
  needs: [{job: ci-android, artifacts: false}]

# Build postgres.Dockerfile
postgres:
  extends: .build
