[package]
name = "server_utils"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[lib]
doctest = false

[[test]]
name = "postgres"
path = "tests/postgres.rs"
required-features = ["db_test"]

[features]
parsed_key_pair_conversion = []
# Include session storage in PostgreSQL
postgres = [
    "dep:serde_json",
    "dep:strum",
    "sea-orm/macros",
    "sea-orm/runtime-tokio-rustls",
    "sea-orm/sqlx-postgres",
    "sea-orm/with-chrono",
    "sea-orm/with-json",
]
# Include and run integration tests that depend on an external PostgreSQL database
db_test = ["dep:db_test", "dep:parking_lot", "openid4vc/test", "postgres", "test", "utils/mock_time"]

test = ["tokio/macros", "tokio/rt-multi-thread"]

[dependencies]
anyhow.workspace = true
axum.workspace = true
base64.workspace = true
chrono.workspace = true
config = { workspace = true, features = ["toml"] }
http.workspace = true
nutype.workspace = true
p256 = { workspace = true, features = ["pkcs8"] }
ring.workspace = true
rustls-pki-types.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_with = { workspace = true, features = ["base64"] }
thiserror.workspace = true
tokio = { workspace = true, features = ["rt-multi-thread", "net"] }
tower-http = { workspace = true, features = ["auth", "set-header", "trace", "validate-request"] }
tracing.workspace = true
tracing-subscriber = { workspace = true, features = ["ansi", "env-filter", "json"] }
url = { workspace = true, features = ["serde"] }

parking_lot = { workspace = true, optional = true }
sea-orm = { workspace = true, optional = true }
serde_json = { workspace = true, optional = true }
strum = { workspace = true, optional = true }

attestation_data.path = "../../lib/attestation_data"
crypto.path = "../../lib/crypto"
hsm.path = "../../lib/hsm"
http_utils = { path = "../../lib/http_utils" }
openid4vc = { path = "../../lib/openid4vc", features = ["axum"] }
sd_jwt_vc_metadata.path = "../../lib/sd_jwt_vc_metadata"
utils = { path = "../../lib/utils" }

db_test = { path = "../../lib/db_test", optional = true }

[dev-dependencies]
attestation_data = { path = "../../lib/attestation_data", features = ["generate", "mock"] }
