apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "common.names.fullname" . }}
  labels:
  {{- include "common.labels.standard" . | nindent 4 }}
spec:
  ingress:
  - from:
    - podSelector:
        matchLabels:
          redis: allow
  podSelector:
    matchLabels:
    {{- include "common.labels.selectorLabels" . | nindent 6 }}
  policyTypes:
  - Ingress
