{{- if .Values.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "redis.fullname" . }}-ingress
  labels:
    {{- include "redis.labels" . | nindent 4 }}
    app: redis
spec:
  ingress:
    - from:
        - podSelector:
            matchLabels:
              {{- toYaml .Values.networkPolicy.ingressFromSelector | nindent 14 }}
  podSelector:
    matchLabels:
      app: redis
  policyTypes:
    - Ingress
{{- end }}
