apiVersion: v1
kind: Service
metadata:
  name: {{ include "redis.fullname" . }}
  labels:
    {{- include "redis.labels" . | nindent 4 }}
    app: redis
spec:
  selector:
    app: redis
  ports:
    - name: redis
      port: {{ .Values.service.port }}
      targetPort: redis
