apiVersion: v1
kind: Service
metadata:
  name: {{ include "common.names.fullname" . }}
  labels:
  {{- include "common.labels.standard" . | nindent 4 }}
spec:
  selector:
  {{- include "common.labels.selectorLabels" . | nindent 4 }}
  ports:
  - name: redis
    port: {{ .Values.redis.server.port }}
    targetPort: redis
