[package]
name = "wallet_account"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[lib]
doctest = false

[[test]]
name = "registration"
path = "tests/registration.rs"
required-features = ["integration_test"]

[features]
client = ["dep:error_category", "dep:futures", "dep:platform_support", "p256/pem"]
server = ["dep:apple_app_attest", "p256/pem"]
integration_test = ["android_attest/mock", "client", "dep:rustls-pki-types", "server"]
mock = []

[dependencies]
chrono = { workspace = true, features = ["serde"] }
derive_more = { workspace = true, features = ["constructor", "display", "into"] }
semver = { workspace = true, features = ["serde"] }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true, features = ["raw_value"] }
serde_with = { workspace = true, features = ["base64"] }
strum = { workspace = true, features = ["derive"] }
rand.workspace = true
thiserror.workspace = true
uuid = { workspace = true, features = ["v4", "serde"] }

crypto.path = "../../lib/crypto"
jwt.path = "../../lib/jwt"
readable_identifier.path = "../readable_identifier"
sd_jwt.path = "../../lib/sd_jwt"
utils.path = "../../lib/utils"
wscd.path = "../../lib/wscd"

futures = { workspace = true, optional = true }
p256 = { workspace = true, optional = true }
rustls-pki-types = { workspace = true, optional = true }

android_attest = { path = "../../lib/android_attest", optional = true }
apple_app_attest = { path = "../../lib/apple_app_attest", optional = true }
error_category = { path = "../../lib/error_category", optional = true }
platform_support = { path = "../../wallet/platform_support", optional = true }

[dev-dependencies]
assert_matches.workspace = true
futures.workspace = true
rand_core.workspace = true
rstest.workspace = true

apple_app_attest = { path = "../../lib/apple_app_attest", features = ["mock"] }
crypto = { path = "../../lib/crypto", features = ["mock_secure_keys"] }
platform_support = { path = "../../wallet/platform_support", features = ["mock_attested_key_apple"] }
