test-android:
  image: "${HARBOR_REGISTRY}/${HARBOR_PROJECT}/nl-wallet-app-builder-ci-android-emulator:${BUILD_TAG}"
  tags:
    - linux
  rules: !reference [.default-or-release-or-merge-request, rules]
  artifacts:
    name: test-android
    when: always
    reports:
      coverage_report:
        path: wallet_core/wallet/platform_support/android/build/reports/coverage/**/cobertura.xml
        coverage_format: cobertura
      junit: wallet_core/wallet/platform_support/android/build/**/*-results/**/TEST*.xml
    paths:
      - emulator.*
      - wallet_core/wallet/platform_support/android/build/reports
      - wallet_core/wallet/platform_support/android/build/test-results
      - wallet_core/wallet/platform_support/android/build/outputs/androidTest-results
  script:
    - adb devices # to prevent device unauthorized
    - emulator @phone -show-kernel -log-detailed -no-window -no-snapshot -no-boot-anim -cores 2 -memory 2048 -audio none -camera-back none -camera-front none < /dev/null > emulator.out 2> emulator.err &
    - EMULATOR_PID="$!"
    - adb wait-for-device shell 'while [[ -z $(getprop sys.boot_completed) ]]; do sleep 1; done'
    - cd wallet_core/wallet/platform_support/android
    - ANDROID_NDK_TARGETS=x86_64 ./gradlew --no-daemon testDebugUnitTest connectedAndroidTest
  after_script: >
    deploy/bin/store-artifact-zip.sh qt/quality-time/junit-results/android.zip
    wallet_core/wallet/platform_support/android/build/test-results/testDebugUnitTest/TEST*.xml
    wallet_core/wallet/platform_support/android/build/outputs/androidTest-results/connected/debug/TEST*.xml

### Android building
.build-android-app:
  image: "${HARBOR_REGISTRY}/${HARBOR_PROJECT}/nl-wallet-app-builder-ci-android:${BUILD_TAG}"
  extends: [.sentry-env, .ruby-cache]
  tags:
    - linux
  needs:
    - job: test-flutter
      artifacts: false
    - job: test-flutter-ui
      artifacts: false
    - job: test-codegen
      artifacts: false
    - job: test-rust
      artifacts: false
    - job: test-rust-doctest
      artifacts: false
    - job: test-rust-compilation-android
      artifacts: false
  artifacts:
    name: wallet-android
    paths:
      - "*.aab"
      - "*.apk"
  variables:
    LC_ALL: "C.UTF-8"
    LANG: "C.UTF-8"
  script:
    - VERSION=${CI_COMMIT_TAG#v}
    - set -euo pipefail
    - kubectl get secret nl-wallet-play-store-upload-key -o jsonpath='{.data.keystore}' | base64 --decode > wallet_app/android/upload-keystore.jks
    - kubectl get secret nl-wallet-play-store-upload-key -o jsonpath='{.data.key-properties}' | base64 --decode > wallet_app/android/key.properties
    - bundle install
    - |
      bundle exec fastlane android build \
        application_id:"${INTERNAL_APP_IDENTIFIER}${APP_PACKAGE_IDENTIFIER_SUFFIX:+.$APP_PACKAGE_IDENTIFIER_SUFFIX}" \
        app_name:"${APP_NAME}" \
        file_format:"${APP_FILE_FORMAT}" \
        build_mode:"${APP_BUILD_MODE}" \
        mock:"${APP_MOCK}" \
        demo_index_url:"${DEMO_INDEX_URL:-}" \
        universal_link_base:"${UL_HOSTNAME:-}" \
        build:"$((CI_PIPELINE_IID + APP_BUILD_OFFSET))" \
        version:"${VERSION:-}"
    - |
      if [[ -f *.aab ]] && jarsigner -verify *.aab | grep -q 'jar is unsigned'; then
        echo "Unsigned build, correctly set key.properties and key store"
        exit 1
      fi
  after_script:
    - rm wallet_app/android/upload-keystore.jks wallet_app/android/key.properties

.build-android-app-ont:
  extends: [.env-k8s, .build-android-app]
  rules: !reference [.default-branch, rules]
  needs:
    - !reference [.build-android-app, needs]
    - job: build-env-ont
      artifacts: true
    - job: wallet-config-ont
      artifacts: true
  variables:
    APP_PACKAGE_IDENTIFIER_SUFFIX: "latest"
    APP_NAME: "NL Wallet (latest)"
    APP_MOCK: "false"

build-android-app-ont:
  extends: .build-android-app-ont
  variables:
    APP_FILE_FORMAT: "aab"
    APP_BUILD_MODE: "release"

build-android-app-ont-profile:
  extends: .build-android-app-ont
  variables:
    APP_FILE_FORMAT: "apk"
    APP_BUILD_MODE: "profile"

.build-android-app-release-tag:
  extends: [.env-k8s, .build-android-app]
  rules: !reference [.release-tag, rules]
  variables:
    APP_MOCK: "false"
    APP_FILE_FORMAT: "aab"
    APP_BUILD_MODE: "release"

build-android-app-mock:
  extends: .build-android-app-release-tag
  rules:
    - !reference [.on-mock-build, rules]
  needs: []
  variables:
    APP_MOCK: "true" # override .build-android-app-release-tag
    APP_PACKAGE_IDENTIFIER_SUFFIX: "mock"
    APP_NAME: "NL Wallet (mock)"
    CONFIG_ENV: "dev"
    SENTRY_ENVIRONMENT: "mock"

build-android-app-demo:
  extends: .build-android-app-release-tag
  rules:
    - !reference [.on-demo-build, rules]
  needs:
    - job: build-env-demo
      artifacts: true
    - job: wallet-config-demo
      artifacts: true
  variables:
    APP_PACKAGE_IDENTIFIER_SUFFIX: "demo"
    APP_NAME: "NL Wallet (demo)"

build-android-app-acceptance:
  extends: .build-android-app-release-tag
  needs:
    - !reference [.build-android-app, needs]
    - job: build-env-acceptance
      artifacts: true
    - job: wallet-config-acceptance
      artifacts: true
  variables:
    APP_PACKAGE_IDENTIFIER_SUFFIX: "acceptance"
    APP_NAME: "NL Wallet (acceptance)"

build-android-app-preproduction:
  extends: .build-android-app-release-tag
  needs:
    - !reference [.build-android-app, needs]
    - job: build-env-preproduction
      artifacts: true
    - job: wallet-config-preproduction
      artifacts: true
  variables:
    APP_PACKAGE_IDENTIFIER_SUFFIX: "preproduction"
    APP_NAME: "NL Wallet (pre-production)"

build-android-app-production:
  extends: .build-android-app-release-tag
  needs:
    - !reference [.build-android-app, needs]
    - job: build-env-production
      artifacts: true
    - job: wallet-config-production
      artifacts: true
  variables:
    APP_PACKAGE_IDENTIFIER_SUFFIX: ""
    APP_NAME: "NL Wallet (production)"

### Android deploying
.deploy-android-app:
  extends: [.env-k8s, .ruby-cache]
  variables:
    LC_ALL: "C.UTF-8"
    LANG: "C.UTF-8"
  script:
    - JSON_KEY_DATA=$(kubectl get secret nl-wallet-play-store-api-key -o jsonpath='{.data.json}' | base64 --decode)
    - export JSON_KEY_DATA
    - bundle install
    - |
      bundle exec fastlane android ci_deploy \
        application_id:"${INTERNAL_APP_IDENTIFIER}${APP_PACKAGE_IDENTIFIER_SUFFIX:+.$APP_PACKAGE_IDENTIFIER_SUFFIX}" \
        version:"${CI_COMMIT_TAG#v}"

deploy-android-app-ont:
  extends: .deploy-android-app
  rules: !reference [.default-branch, rules]
  needs:
    - job: build-android-app-ont
      artifacts: true
  variables:
    APP_PACKAGE_IDENTIFIER_SUFFIX: "latest"

.deploy-android-app-release-tag:
  extends: .deploy-android-app
  rules: !reference [.release-tag, rules]

deploy-android-app-mock:
  extends: .deploy-android-app-release-tag
  rules:
    - !reference [.on-mock-build, rules]
  needs:
    - job: build-android-app-mock
      artifacts: true
  variables:
    APP_PACKAGE_IDENTIFIER_SUFFIX: "mock"

deploy-android-app-demo:
  extends: .deploy-android-app-release-tag
  rules:
    - !reference [.on-demo-build, rules]
  needs:
    - job: build-android-app-demo
      artifacts: true
  variables:
    APP_PACKAGE_IDENTIFIER_SUFFIX: "demo"

deploy-android-app-acceptance:
  extends: .deploy-android-app-release-tag
  needs:
    - job: build-android-app-acceptance
      artifacts: true
  variables:
    APP_PACKAGE_IDENTIFIER_SUFFIX: "acceptance"

deploy-android-app-preproduction:
  extends: .deploy-android-app-release-tag
  needs:
    - job: build-android-app-preproduction
      artifacts: true
  variables:
    APP_PACKAGE_IDENTIFIER_SUFFIX: "preproduction"

deploy-android-app-production:
  extends: .deploy-android-app-release-tag
  needs:
    - job: build-android-app-production
      artifacts: true
  variables:
    APP_PACKAGE_IDENTIFIER_SUFFIX: ""
