automation-compile-check:
  rules: !reference [.merge-request, rules]
  script:
    - java -version
    - cd uiautomation
    - ./gradlew --no-daemon compileTestKotlin

.run-automation-tests-common-setup:
  resource_group: automation-tests
  extends: .env-ont-k8s
  environment:
    action: access
  artifacts:
    when: always
    paths:
      - uiautomation/build/test-results/**/*.xml
      - uiautomation/build/allure-results
      - uiautomation/build/reports
    reports:
      junit: uiautomation/build/test-results/**/*.xml
  before_script:
    - BROWSERSTACK_USER=$(kubectl get secret nl-wallet-browserstack -o jsonpath='{.data.user}' | base64 --decode)
    - export BROWSERSTACK_USER
    - BROWSERSTACK_KEY=$(kubectl get secret nl-wallet-browserstack -o jsonpath='{.data.key}' | base64 --decode)
    - export BROWSERSTACK_KEY
    - java -version
    - cd uiautomation
    - set -euxo pipefail

.run-automation-tests-default:
  extends: .run-automation-tests-common-setup
  script:
    - ./gradlew --no-daemon --info --stacktrace test --tests $TESTS
      -Dtest.config.app.identifier="${APP_IDENTIFIER}_${CI_COMMIT_SHA}"
      -Dtest.config.device.name="$DEVICE_NAME"
      -Dtest.config.platform.name="$PLATFORM_NAME"
      -Dtest.config.platform.version="$PLATFORM_VERSION"
      -Dtest.config.remote=true
      -Dfile.encoding=UTF-8 || true
    # Allow failure in tests and pass when there are test results (Quality Time should report on failed test)
    - compgen -G "build/test-results/test/*.xml"
  variables:
    APP_IDENTIFIER: "nl.ictu.edi.wallet.latest"
    DEVICE_NAME: "Google Pixel 8"
    PLATFORM_NAME: "Android"
    PLATFORM_VERSION: "14.0"
  needs:
    - job: deploy-mock-relying-party-demo
      artifacts: false
      optional: true
    - job: deploy-wallet-provider-ont
      artifacts: false
      optional: true
    - job: deploy-pid-issuer-ont
      artifacts: false
      optional: true
    - job: deploy-update-policy-server-ont
      artifacts: false
      optional: true
    - job: deploy-gba-hc-converter-ont
      artifacts: false
      optional: true
  rules:
    - !reference [.on-schedule, rules]
    - !reference [.on-web-trigger, rules]

run-automation-tests-suite-appstart:
  extends: .run-automation-tests-default
  variables: { TESTS: "suite.AppStartTestSuite" }

run-automation-tests-suite-introduction:
  extends: .run-automation-tests-default
  variables: { TESTS: "suite.IntroductionTestSuite" }

run-automation-tests-suite-security:
  extends: .run-automation-tests-default
  variables: { TESTS: "suite.SecurityTestSuite" }

run-automation-tests-suite-confirm:
  extends: .run-automation-tests-default
  variables: { TESTS: "suite.ConfirmTestSuite" }

run-automation-tests-suite-personalize:
  extends: .run-automation-tests-default
  variables: { TESTS: "suite.PersonalizeTestSuite" }

run-automation-tests-suite-dashboard:
  extends: .run-automation-tests-default
  variables: { TESTS: "suite.DashboardTestSuite" }

run-automation-tests-suite-card:
  extends: .run-automation-tests-default
  variables: { TESTS: "suite.CardTestSuite" }

run-automation-tests-suite-menu:
  extends: .run-automation-tests-default
  variables: { TESTS: "suite.MenuTestSuite" }

run-automation-tests-suite-history:
  extends: .run-automation-tests-default
  variables: { TESTS: "suite.HistoryTestSuite" }

run-automation-tests-suite-settings:
  extends: .run-automation-tests-default
  variables: { TESTS: "suite.SettingsTestSuite" }

run-automation-tests-suite-lock:
  extends: .run-automation-tests-default
  variables: { TESTS: "suite.LockTestSuite" }

run-automation-tests-suite-web:
  extends: .run-automation-tests-default
  variables: { TESTS: "suite.WebTestSuite" }

run-automation-tests-publish-results:
  rules: !reference [.run-automation-tests-default, rules]
  needs:
    - { job: run-automation-tests-suite-appstart }
    - { job: run-automation-tests-suite-introduction }
    - { job: run-automation-tests-suite-security }
    - { job: run-automation-tests-suite-confirm }
    - { job: run-automation-tests-suite-personalize }
    - { job: run-automation-tests-suite-dashboard }
    - { job: run-automation-tests-suite-card }
    - { job: run-automation-tests-suite-menu }
    - { job: run-automation-tests-suite-history }
    - { job: run-automation-tests-suite-settings }
    - { job: run-automation-tests-suite-lock }
    - { job: run-automation-tests-suite-web }
  script:
    - deploy/bin/store-artifact-zip.sh qt/quality-time/junit-results/e2e.zip uiautomation/build/test-results/test/*.xml
    - deploy/bin/store-artifact-zip.sh qt/quality-time/allure-results/e2e.zip uiautomation/build/allure-results/*

run-automation-smoke-test-ont:
  extends: .run-automation-tests-common-setup
  rules: !reference [.default-branch, rules]
  needs:
    - job: upload-browserstack-android-app-ont
      artifacts: false
    - job: deploy-mock-relying-party-ont
      artifacts: false
    - job: deploy-wallet-provider-ont
      artifacts: false
    - job: deploy-pid-issuer-ont
      artifacts: false
  script:
    - ./gradlew --no-daemon --info --stacktrace smokeTest
      -Dtest.config.app.identifier="${APP_IDENTIFIER}_${CI_COMMIT_SHA}"
      -Dtest.config.device.name="$DEVICE_NAME"
      -Dtest.config.platform.name="$PLATFORM_NAME"
      -Dtest.config.platform.version="$PLATFORM_VERSION"
      -Dtest.config.remote=true
      -Dfile.encoding=UTF-8
  variables: !reference [.run-automation-tests-default, variables]

browsertests-format-lint:
  rules: !reference [.default-or-merge-request, rules]
  image: "${HARBOR_REGISTRY}/${HARBOR_NLW_PROJECT}/nl-wallet-app-builder-ci-node:${BUILD_TAG}"
  script:
    - cd browsertests
    - npm ci
    - npm run format-check
    - npm run lint

.run-browsertest-common:
  image: "${HARBOR_REGISTRY}/${HARBOR_NLW_PROJECT}/nl-wallet-app-builder-ci-playwright:${BUILD_TAG}"
  extends: .env-ont-k8s

run-mrp-browsertest-test-ont:
  extends: .run-browsertest-common
  rules:
    - !reference [.default-branch, rules]
  needs:
    - job: deploy-mock-relying-party-ont
      artifacts: false
  script: |
    cd browsertests
    npm ci
    cd packages/mock-relying-party
    npx playwright install chromium webkit
    npm run test:ci
  variables:
    MOCK_RELYING_PARTY_EXTERNAL_HOSTNAME: "${MOCK_RELYING_PARTY_EXTERNAL_HOSTNAME_ONT}"
  after_script:
    - deploy/bin/store-artifact.sh browsertests/packages/mock-relying-party/test-results/results.xml qt/quality-time/junit-results/browsertest-mrp.xml
    - deploy/bin/store-artifact-zip.sh qt/quality-time/allure-results/browsertest-mrp.zip browsertests/packages/mock-relying-party/allure-results/*
  artifacts:
    when: always
    paths:
      - browsertests/packages/mock-relying-party/test-results/*.xml
      - browsertests/packages/mock-relying-party/allure-results/
    reports:
      junit: browsertests/packages/mock-relying-party/test-results/*.xml
  allow_failure: false

run-fallback-page-browsertest-test-ont:
  extends: .run-browsertest-common
  rules:
    - !reference [.default-branch, rules]
  needs:
    - job: deploy-update-policy-server-ont
      artifacts: false
  script: |
    cd browsertests
    npm ci
    cd packages/fallback-pages
    npx playwright install chromium webkit
    npm run test:ci
  variables:
    UNIVERSAL_LINK_BASE: "https://$APP_EXTERNAL_HOSTNAME_ONT/deeplink/"
  after_script:
    - deploy/bin/store-artifact.sh browsertests/packages/fallback-pages/test-results/results.xml qt/quality-time/junit-results/browsertest-fallback-pages.xml
    - deploy/bin/store-artifact-zip.sh qt/quality-time/allure-results/browsertest-fallback-pages.zip browsertests/packages/fallback-pages/allure-results/*
  artifacts:
    when: always
    paths:
      - browsertests/packages/fallback-pages/test-results/*.xml
      - browsertests/packages/fallback-pages/allure-results/
    reports:
      junit: browsertests/packages/fallback-pages/test-results/*.xml
  allow_failure: false

run-gba-fetch-browsertest-test-ont:
  extends: .run-browsertest-common
  rules:
    - !reference [.on-schedule, rules]
    - !reference [.on-web-trigger, rules]
  needs:
    - job: deploy-gba-fetch-frontend-ont
      artifacts: false
      optional: true
  before_script: |
    kubectl get secret nl-wallet-gba-fetch-browsertest-ont-client-secret -o jsonpath="{.data.gba_fetch_e2e\.p12}" | base64 -d > browsertests/packages/gba-fetch/config/gba_fetch_client_cert_ont.p12
    export GBA_FETCH_FRONTEND_CLIENT_CERT_PATH="./gba_fetch_client_cert_ont.p12"
    export GBA_FETCH_FRONTEND_CLIENT_CERT_PASSPHRASE=$(kubectl get secret nl-wallet-gba-fetch-browsertest-ont-client-secret -o jsonpath='{.data.passphrase}' | base64 --decode)
    export GBA_FETCH_FRONTEND_INTERNAL_HOSTNAME="${GBA_FETCH_FRONTEND_INTERNAL_HOSTNAME_ONT}"
  script: |
    cd browsertests
    npm ci
    cd packages/gba-fetch
    npx playwright install chromium
    npm run test:authenticated
    npm run test:unauthenticated
  after_script:
    - deploy/bin/store-artifact-zip.sh qt/quality-time/junit-results/browsertest-gbafetch.zip browsertests/packages/gba-fetch/test-results-*/*.xml
    - deploy/bin/store-artifact-zip.sh qt/quality-time/allure-results/browsertest-gbafetch.zip browsertests/packages/gba-fetch/allure-results/*
  artifacts:
    when: always
    paths:
      - browsertests/packages/gba-fetch/test-results-*/*.xml
      - browsertests/packages/gba-fetch/allure-results/
    reports:
      junit: browsertests/packages/gba-fetch/test-results*/*.xml
  allow_failure: false

run-performance-test-ont:
  rules: !reference [.default-branch, rules]
  extends: [.rust, .env-ont-k8s]
  needs:
    - job: deploy-mock-relying-party-ont
      artifacts: false
    - job: deploy-wallet-provider-ont
      artifacts: false
    - job: deploy-pid-issuer-ont
      artifacts: false
    - job: wallet-config-ont
      artifacts: true
  variables:
    CONFIG_ENV: ont
    UNIVERSAL_LINK_BASE: "https://$APP_EXTERNAL_HOSTNAME_ONT/deeplink/"
    RELYING_PARTY_URL: "https://${EXTERNAL_HOSTNAME_ONT}/${MOCK_RELYING_PARTY_EXTERNAL_CONTEXT_PATH}/"
    PUBLIC_WALLET_SERVER_URL: "https://${EXTERNAL_HOSTNAME_ONT}/${MRP_VERIFICATION_SERVER_EXTERNAL_CONTEXT_PATH}/"
    INTERNAL_WALLET_SERVER_URL: "https://${MRP_VERIFICATION_SERVER_INTERNAL_HOSTNAME_ONT}/"
    APPLE_ATTESTATION_ENVIRONMENT: "production"
  script: wallet_core/tests_integration/run_performance_test.sh 50
  allow_failure: true

create-pipeline-for-running-test-on-all-browserstack-androids:
  resource_group: automation-tests
  extends: .env-ont-k8s
  environment:
    action: access
  rules:
    - !reference [ .on-web-trigger, rules ]
  allow_failure: false
  before_script:
    - BROWSERSTACK_USER=$(kubectl get secret nl-wallet-browserstack -o jsonpath='{.data.user}' | base64 --decode)
    - export BROWSERSTACK_USER
    - BROWSERSTACK_KEY=$(kubectl get secret nl-wallet-browserstack -o jsonpath='{.data.key}' | base64 --decode)
    - export BROWSERSTACK_KEY
    - java -version
    - set -euxo pipefail
  variables:
    BROWSERSTACK_USER: "$BROWSERSTACK_USER"
    BROWSERSTACK_KEY: "$BROWSERSTACK_KEY"
  script: |
      DEVICE_LIST=$(curl -u "$BROWSERSTACK_USER:$BROWSERSTACK_KEY" -X GET "https://api-cloud.browserstack.com/app-automate/devices.json")
      TEST_SETS=$(curl -u "$BROWSERSTACK_USER:$BROWSERSTACK_KEY" -X GET "https://api-cloud.browserstack.com/app-automate/devices.json" | 
                  jq -r '.[] | select(.os == "android" and .realMobile == true) | "\(.device)|\(.os_version)"')
    
      echo "Retrieved real Android devices: $TEST_SETS"
      
      if [[ -z $TEST_SETS ]]; then
        echo "No real Android devices found in BrowserStack!"
        exit 1
      fi
    
      cd "$CI_PROJECT_DIR"
    
      cat <<EOT > test-all-android-devices.yml
      include:
        - local: "/.gitlab-ci.yml"
      EOT
    
      while IFS="|" read -r DEVICE_NAME PLATFORM_VERSION; do
        JOB_NAME=$(echo "$DEVICE_NAME" | tr ' ' '_')
        PLATFORM_NAME="Android"
        APP_IDENTIFIER="nl.ictu.edi.wallet.latest"
      
        cat <<EOT >> test-all-android-devices.yml
      
      run-automation-test-ont-$JOB_NAME:
        extends: .run-automation-tests-common-setup
        script:
          - ./gradlew --no-daemon --info --stacktrace runOnAll
            -Dtest.config.app.identifier="$APP"
            -Dtest.config.device.name="$DEVICE_NAME"
            -Dtest.config.platform.name="$PLATFORM_NAME"
            -Dtest.config.platform.version="$PLATFORM_VERSION"
            -Dtest.config.remote=true
            -Dfile.encoding=UTF-8
        variables:
          DEVICE_NAME: "$DEVICE_NAME"
          PLATFORM_NAME: "$PLATFORM_NAME"
          PLATFORM_VERSION: "$PLATFORM_VERSION"
          APP: "${APP_IDENTIFIER}_${CI_COMMIT_SHA}"
      EOT
      done <<< "$TEST_SETS"
      
      echo "Generated test-all-android-devices.yml:"
      cat test-all-android-devices.yml
  artifacts:
    paths:
      - test-all-android-devices.yml
    expire_in: 1 hour

run-pipeline-for-running-test-on-all-browserstack-androids:
  rules:
    - !reference [ .on-web-trigger, rules ]
  needs:
    - create-pipeline-for-running-test-on-all-browserstack-androids
  trigger:
    include:
      - artifact: test-all-android-devices.yml
        job: create-pipeline-for-running-test-on-all-browserstack-androids
    strategy: depend

