.build-docker-image:
  image: "$HARBOR_REGISTRY/quay-proxy/buildah/stable:v1.42.2"
  tags:
    - linux
  rules: !reference [.default-or-merge-request-manual, rules]
  before_script:
    - mkdir -p ~/.docker
    - echo $DOCKER_AUTH_CONFIG > ~/.docker/config.json
  script:
    - >
      buildah build
      --build-arg "BUILD_TAG"=${BUILD_TAG}"
      --build-arg "HSM_CLIENT_TAG=${HSM_CLIENT_TAG}"
      --build-arg "HARBOR_REGISTRY=${HARBOR_REGISTRY}"
      --build-arg "HARBOR_PROJECT=${HARBOR_PROJECT}"
      --build-arg "GCR_IO_PROXY"=${GCR_IO_PROXY}"
      --file "${DOCKER_FILE_TO_BUILD}"
      --tag "${DOCKER_IMAGE_NAME}:${CI_COMMIT_SHORT_SHA}"
      wallet_core
    - |
      for HARBOR_REGISTRY in $HARBOR_REGISTRIES; do
        buildah push "${DOCKER_IMAGE_NAME}:${CI_COMMIT_SHORT_SHA}" "${HARBOR_REGISTRY}/${HARBOR_PROJECT}/${DOCKER_IMAGE_NAME}:${CI_COMMIT_SHORT_SHA}"
        if [[ ${CI_COMMIT_BRANCH:-} == "$CI_DEFAULT_BRANCH" ]]; then
          buildah push "${DOCKER_IMAGE_NAME}:${CI_COMMIT_SHORT_SHA}" "${HARBOR_REGISTRY}/${HARBOR_PROJECT}/${DOCKER_IMAGE_NAME}:latest"
        fi
      done
  variables:
    STORAGE_DRIVER: vfs
    BUILDAH_FORMAT: docker
    BUILDAH_ISOLATION: chroot

build-update-policy-server-image:
  extends: .build-docker-image
  needs:
    - job: build-update-policy-server-binary
      artifacts: true
  variables:
    DOCKER_FILE_TO_BUILD: wallet_core/update_policy/server/Dockerfile
    DOCKER_IMAGE_NAME: nl-wallet-update-policy-server

build-wallet-provider-image:
  extends: .build-docker-image
  needs:
    - job: build-wallet-provider-binary
      artifacts: true
  variables:
    DOCKER_FILE_TO_BUILD: wallet_core/wallet_provider/Dockerfile
    DOCKER_IMAGE_NAME: nl-wallet-provider
    GCR_IO_PROXY: "$HARBOR_REGISTRY/gcr-io-proxy"

build-wallet-provider-migrations-image:
  extends: .build-docker-image
  needs:
    - job: build-wallet-provider-migrations-binary
      artifacts: true
  variables:
    DOCKER_FILE_TO_BUILD: wallet_core/wallet_provider/migrations/Dockerfile
    DOCKER_IMAGE_NAME: nl-wallet-provider-migrations

build-demo-relying-party-image:
  extends: .build-docker-image
  needs:
    - job: build-wallet-web
      artifacts: true
    - job: build-demo-relying-party-binary
      artifacts: true
  before_script:
    - !reference [.build-docker-image, before_script]
  variables:
    DOCKER_FILE_TO_BUILD: wallet_core/demo/demo_relying_party/Dockerfile
    DOCKER_IMAGE_NAME: nl-wallet-demo-relying-party

build-demo-issuer-image:
  extends: .build-docker-image
  needs:
    - job: build-wallet-web
      artifacts: true
    - job: build-demo-issuer-binary
      artifacts: true
  before_script:
    - !reference [.build-docker-image, before_script]
  variables:
    DOCKER_FILE_TO_BUILD: wallet_core/demo/demo_issuer/Dockerfile
    DOCKER_IMAGE_NAME: nl-wallet-demo-issuer

build-demo-index-image:
  extends: .build-docker-image
  needs:
    - job: build-demo-index-binary
      artifacts: true
  variables:
    DOCKER_FILE_TO_BUILD: wallet_core/demo/demo_index/Dockerfile
    DOCKER_IMAGE_NAME: nl-wallet-demo-index

build-verification-server-image:
  extends: .build-docker-image
  needs:
    - job: build-verification-server-binary
      artifacts: true
  variables:
    DOCKER_FILE_TO_BUILD: wallet_core/wallet_server/verification_server/Dockerfile
    DOCKER_IMAGE_NAME: nl-wallet-verification-server

build-verification-server-migrations-image:
  extends: .build-docker-image
  needs:
    - job: build-wallet-server-migrations-binaries
      artifacts: true
  variables:
    DOCKER_FILE_TO_BUILD: wallet_core/wallet_server/verification_server/migrations/Dockerfile
    DOCKER_IMAGE_NAME: nl-wallet-verification-server-migrations

build-issuance-server-image:
  extends: .build-docker-image
  needs:
    - job: build-issuance-server-binary
      artifacts: true
  variables:
    DOCKER_FILE_TO_BUILD: wallet_core/wallet_server/issuance_server/Dockerfile
    DOCKER_IMAGE_NAME: nl-wallet-issuance-server

build-issuance-server-migrations-image:
  extends: .build-docker-image
  needs:
    - job: build-wallet-server-migrations-binaries
      artifacts: true
  variables:
    DOCKER_FILE_TO_BUILD: wallet_core/wallet_server/issuance_server/migrations/Dockerfile
    DOCKER_IMAGE_NAME: nl-wallet-issuance-server-migrations

build-pid-issuer-image:
  extends: .build-docker-image
  needs:
    - job: build-pid-issuer-binary
      artifacts: true
  variables:
    DOCKER_FILE_TO_BUILD: wallet_core/wallet_server/pid_issuer/Dockerfile
    DOCKER_IMAGE_NAME: nl-wallet-pid-issuer

build-pid-issuer-migrations-image:
  extends: .build-docker-image
  needs:
    - job: build-wallet-server-migrations-binaries
      artifacts: true
  variables:
    DOCKER_FILE_TO_BUILD: wallet_core/wallet_server/pid_issuer/migrations/Dockerfile
    DOCKER_IMAGE_NAME: nl-wallet-pid-issuer-migrations

build-gba-hc-converter-image:
  extends: .build-docker-image
  needs:
    - job: build-gba-hc-converter-binary
      artifacts: true
  variables:
    DOCKER_FILE_TO_BUILD: wallet_core/gba_hc_converter/Dockerfile
    DOCKER_IMAGE_NAME: nl-wallet-gba-hc-converter

build-gba-fetch-image:
  extends: .build-docker-image
  needs:
    - job: build-gba-fetch-binary
      artifacts: true
    - job: build-gba-encrypt-binary
      artifacts: true
  variables:
    DOCKER_FILE_TO_BUILD: wallet_core/gba_hc_converter/gba_fetch.Dockerfile
    DOCKER_IMAGE_NAME: nl-wallet-gba-fetch
    GCR_IO_PROXY: "$HARBOR_REGISTRY/gcr-io-proxy"

build-gba-fetch-frontend-image:
  extends: .build-docker-image
  needs:
    - job: build-gba-fetch-frontend-binary
      artifacts: true
  variables:
    DOCKER_FILE_TO_BUILD: wallet_core/gba_hc_converter/gba_fetch_frontend.Dockerfile
    DOCKER_IMAGE_NAME: nl-wallet-gba-fetch-frontend
