.clone-variables:
  before_script:
    - git clone --branch v0.4-stable --depth 1 https://repo-variables-deploy-token:${REPO_VARIABLES_DEPLOY_TOKEN}@${CI_SERVER_HOST}/wallet/deploy-variables.git

.build-env:
  extends: .clone-variables
  script:
    - NAME=${CI_JOB_NAME#build-env-}
    - deploy-variables/create-env.sh $NAME | tee build-${NAME}.env
  artifacts:
    name: build-env
    reports:
      dotenv: build-*.env

build-env-ont:
  extends: .build-env
  rules:
    - !reference [.on-schedule-scan, rules]
    - !reference [.default-branch, rules]

build-env-demo:
  extends: .build-env
  rules: !reference [.on-demo-build, rules]

.sentry-env:
  before_script:
    - if [[ -z ${SENTRY_ENVIRONMENT:-} ]]; then export SENTRY_ENVIRONMENT="$CONFIG_ENV"; fi
    - SENTRY_VARS=$(kubectl get secret nl-wallet-sentry-${SENTRY_ENVIRONMENT} -o json | jq -r '.data | to_entries | map("export SENTRY_\(.key | ascii_upcase)=\(.value | @base64d)") | .[]')
    - eval $SENTRY_VARS
