build-documentation:
  rules: !reference [.default-or-merge-request, rules]
  script:
    - cd wallet_docs
    - python3 -m venv .venv
    - source .venv/bin/activate
    - pip3 install -r requirements.txt
    # Use sphinx-multiversion on main, sphinx-build on branch
    - |
      echo "Commit ref name is: $CI_COMMIT_REF_NAME"
      if [[ "$CI_COMMIT_REF_NAME" == "main" ]]; then
        echo "Building on main, using sphinx-multiversion to build documentation"
        git fetch origin main
        git checkout -b main
        make linkcheck
        sphinx-multiversion . _build/html -W
      else
        echo "Building on branch, using sphinx-build to build documentation"
        make linkcheck
        sphinx-build . _build/html -W
      fi
    #GitHub pages needs an index.html at the root of the html folder
    - |
      cat > _build/html/index.html <<EOF
      <!DOCTYPE html>
      <html>
        <head>
          <meta http-equiv="refresh" content="0; url=main/index.html">
          <script>window.location.href = "main/index.html"</script>
          <title>Redirecting to main</title>
        </head>
        <body>
          Redirecting to <a href="main/index.html">main</a>...
        </body>
      </html>
      EOF

  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: 0
  artifacts:
    name: documentation
    when: always
    paths:
      - wallet_docs/_build/html
  allow_failure: true

publish-documentation:
  rules: !reference [.default-branch, rules]
  needs:
    - job: build-documentation
      artifacts: true
  script:
    - git clone --branch documentation --depth 1 https://$GITHUB_USER:$GITHUB_TOKEN@github.com/MinBZK/nl-wallet.git public
    - cd public
    - rm -rf *
    - mv ../wallet_docs/_build/html/* .
    - |
      if [[ ! -f index.html ]]; then
        >&2 echo "ERROR: index.html not found"
        exit 1
      fi
    - git add .
    - |
      if [[ -n $(git status --porcelain) && $CI_COMMIT_BRANCH == "$CI_DEFAULT_BRANCH" ]]; then
        git config user.name 'NL Wallet'
        git config user.email "$GITHUB_EMAIL"
        git commit -m "Update documentation"
        git push origin documentation;
      else
        git status
      fi
