.flutter:
  image: "${HARBOR_REGISTRY}/${HARBOR_NLW_PROJECT}/nl-wallet-app-builder-ci-flutter:${BUILD_TAG}"
  before_script:
    - cd wallet_app
    - set -euxo pipefail

test-flutter:
  extends: .flutter
  rules: !reference [.default-or-release-or-merge-request, rules]
  script:
    - flutter --version
    - flutter pub get --enforce-lockfile
    - flutter analyze .
    - flutter test --exclude-tags=golden --coverage --branch-coverage --coverage-path coverage/lcov.info --file-reporter "json:build/reports/test-results.json"
    - tojunit -i build/reports/test-results.json -o build/reports/test-results.xml -b $PWD/test/src
  after_script:
    - deploy/bin/store-artifact.sh wallet_app/build/reports/test-results.xml qt/quality-time/junit-results/flutter.xml
  artifacts:
    reports:
      junit: wallet_app/build/reports/test-results.xml
    paths:
      - wallet_app/coverage/lcov.info
      - wallet_app/build/reports/test-results.json
      - wallet_app/build/reports/test-results.xml

test-flutter-ui:
  extends: [.flutter, .env-macos-runner]
  rules: !reference [.default-or-release-or-merge-request, rules]
  artifacts:
    name: "ui-test"
    when: always
    paths:
      - "**/failures/*.png"
      - wallet_app/build/reports/test-results-ui.xml
    reports:
      junit: wallet_app/build/reports/test-results-ui.xml
  script:
    - flutter --version
    - flutter pub get --enforce-lockfile
    - defaults -currentHost write -g AppleFontSmoothing -int 0 # Disable font smoothing, should match the generating platform.
    - flutter test --tags=golden --coverage --branch-coverage --coverage-path coverage/lcov-ui.info --file-reporter "json:build/reports/test-results-ui.json"
    - $HOME/.pub-cache/bin/tojunit -i build/reports/test-results-ui.json -o build/reports/test-results-ui.xml -b $PWD/test/src
  after_script:
    - deploy/bin/store-artifact.sh wallet_app/build/reports/test-results-ui.xml qt/quality-time/junit-results/flutter-ui.xml
  artifacts:
    reports:
      junit: wallet_app/build/reports/test-results-ui.xml
    paths:
      - wallet_app/coverage/lcov-ui.info
      - wallet_app/build/reports/test-results-ui.json
      - wallet_app/build/reports/test-results-ui.xml

# Checks .arb files for unused keys, indicating an update to Lokalise might be in order
verify-flutter-localizations:
  extends: .flutter
  rules: !reference [.default-or-release-or-merge-request, rules]
  script:
    - flutter --version
    - flutter pub get --enforce-lockfile
    - dart run translations_cleaner list-unused-terms # List any unused keys
    - dart run translations_cleaner list-unused-terms --abort-on-unused # Fail if unused keys are found
  allow_failure: true # Only meant as a warning, our current workflow might introduce keys from other WIP MRs, which could cause false positives.

test-codegen:
  extends: [.rust, .flutter]
  rules: !reference [.default-or-release-or-merge-request, rules]
  script:
    - flutter pub get --enforce-lockfile
    - flutter_rust_bridge_codegen generate --config-file flutter_rust_bridge.yaml
    - flutter pub run build_runner build --delete-conflicting-outputs
    - dart format . --line-length 120
    - git diff
    - if [[ $(git diff --shortstat | wc -l) -gt 0 ]]; then echo "Code generation results in different files!"; exit 1; fi
