test-ios:
  extends: [.env-macos-runner, .ruby-cache-macos]
  rules: !reference [.default-or-merge-request, rules]
  artifacts:
    name: test-ios
    when: always
    reports:
      coverage_report:
        path: fastlane/test_output/cobertura.xml
        coverage_format: cobertura
      junit: fastlane/test_output/report.junit
    paths:
      - "fastlane/test_output/*"
      - "wallet_core/wallet/platform_support/ios/compile_platform_support.log"
  script:
    - bundle install
    - bundle exec fastlane ios test
  after_script:
    - deploy/bin/store-artifact.sh fastlane/test_output/report.junit qt/quality-time/junit-results/ios.xml
    - deploy/bin/store-artifact.sh fastlane/test_output/cobertura.xml qt/quality-time/ios-cobertura.xml

### iOS Building
.build-ios-app:
  extends: [.sentry-env, .env-k8s, .env-macos-runner, .ruby-cache-macos]
  needs:
    - job: test-flutter
      artifacts: false
    - job: test-flutter-ui
      artifacts: false
    - job: test-flutter-rust-bridge-codegen
      artifacts: false
    - job: test-rust
      artifacts: false
    - job: test-rust-doctest
      artifacts: false
    - job: test-ios
      artifacts: false
    - job: test-rust-compilation-ios
      artifacts: false
  artifacts:
    name: wallet-ios
    when: always
    paths:
      - "*.ipa"
      - "fastlane/entitlements.plist"
      - "wallet_app/build/ios/archive/Runner.xcarchive"
      - "wallet_app/build/ios/Runner.entitlements"
      - "wallet_app/ios/compile_rust_core.log"
      - "wallet_app/ios/*.xcactivitylog"
  variables:
    APPLE_ATTESTATION_ENVIRONMENT: "production"
    APP_BUILD_MODE: "release"
    APP_MOCK: "false"
  script:
    - set -euo pipefail
    - MATCH_PASSWORD="$(kubectl get secret nl-wallet-fastlane-match -o jsonpath='{.data.password}' | base64 --decode)"
    - export MATCH_PASSWORD
    - git config --global url.https://repo-certificates-deploy-token:${REPO_CERTIFICATES_DEPLOY_TOKEN}@$CI_SERVER_HOST.insteadOf https://$CI_SERVER_HOST
    - label="${CI_JOB_NAME##*-}"
    - bundle install
    - bundle exec fastlane ios add_badge label:"${label}"
    # Build
    - |
      bundle exec fastlane ios build \
        app_name:"${APP_NAME}" \
        build_mode:"${APP_BUILD_MODE}" \
        mock:"${APP_MOCK}" \
        fake_attestation:"${FAKE_ATTESTATION:-false}" \
        demo_index_url:"${DEMO_INDEX_URL:-}" \
        universal_link_base:"${UL_HOSTNAME:-}" \
        build:"$((CI_PIPELINE_IID + APP_BUILD_OFFSET))"
    # Sign
    - |
      bundle exec fastlane ios sign \
        app_store:"true" \
        bundle_id:"${INTERNAL_APP_IDENTIFIER}${APP_PACKAGE_IDENTIFIER_SUFFIX:+.$APP_PACKAGE_IDENTIFIER_SUFFIX}"
  after_script:
    - find $HOME/Library/Developer/Xcode/DerivedData/Runner-* -name '*.xcactivitylog' -print0 | xargs -0 -I{} cp {} wallet_app/ios/

build-ios-app-ont:
  extends: .build-ios-app
  rules: !reference [.default-branch, rules]
  needs:
    - !reference [.build-ios-app, needs]
    - job: build-env-ont
      artifacts: true
    - job: wallet-config-ont
      artifacts: true
  variables:
    APP_PACKAGE_IDENTIFIER_SUFFIX: "latest"
    APP_NAME: "NL Wallet (latest)"

build-ios-app-mock:
  extends: .build-ios-app
  rules: !reference [.on-mock-build, rules]
  needs: []
  variables:
    APP_MOCK: "true" # override .build-ios-app
    APP_PACKAGE_IDENTIFIER_SUFFIX: "mock"
    APP_NAME: "NL Wallet (mock)"
    CONFIG_ENV: "dev"
    SENTRY_ENVIRONMENT: "mock"

build-ios-app-demo:
  extends: .build-ios-app
  rules: !reference [.on-demo-build, rules]
  needs:
    - job: build-env-demo
      artifacts: true
    - job: wallet-config-demo
      artifacts: true
  variables:
    APP_PACKAGE_IDENTIFIER_SUFFIX: "demo"
    APP_NAME: "NL Wallet (demo)"

## iOS Deploying
.deploy-ios-app:
  extends: [.env-k8s, .env-macos-runner, .ruby-cache-macos]
  script:
    - APP_STORE_CONNECT_SECRETS_BASE64_JSON="$(kubectl get secret nl-wallet-app-store-api-key -o jsonpath='{.data}')"
    - export APP_STORE_CONNECT_SECRETS_BASE64_JSON
    - bundle install
    - |
      bundle exec fastlane ios ci_deploy \
        bundle_id:"${INTERNAL_APP_IDENTIFIER}${APP_PACKAGE_IDENTIFIER_SUFFIX:+.$APP_PACKAGE_IDENTIFIER_SUFFIX}"

deploy-ios-app-ont:
  extends: .deploy-ios-app
  rules: !reference [.default-branch, rules]
  needs:
    - job: build-ios-app-ont
      artifacts: true
  variables:
    APP_PACKAGE_IDENTIFIER_SUFFIX: "latest"

deploy-ios-app-mock:
  extends: .deploy-ios-app
  rules: !reference [.on-mock-build, rules]
  needs:
    - job: build-ios-app-mock
      artifacts: true
  variables:
    APP_PACKAGE_IDENTIFIER_SUFFIX: "mock"

deploy-ios-app-demo:
  extends: .deploy-ios-app
  rules: !reference [.on-demo-build, rules]
  needs:
    - job: build-ios-app-demo
      artifacts: true
  variables:
    APP_PACKAGE_IDENTIFIER_SUFFIX: "demo"
