lint-rust:
  rules: !reference [.default-or-release-or-merge-request, rules]
  before_script:
    - set -euxo pipefail
  script:
    # Check Rust formatting
    - find wallet_core -mindepth 2 -type f -name Cargo.toml -print0 | xargs -0 -n1 -I {} cargo fmt --manifest-path {} -- --check
    # Check clippy
    - cargo clippy --manifest-path wallet_core/Cargo.toml --locked --all-features --all-targets --tests -- -Dwarnings
    - grep ^exclude wallet_core/Cargo.toml | grep -oP '".*?"' | tr -d '"' | xargs -I "{}" cargo clippy --manifest-path wallet_core/{}/Cargo.toml --locked --all-features --all-targets --tests -- -Dwarnings

test-rust:
  rules: !reference [.default-or-release-or-merge-request, rules]
  tags:
    - wallet-ci
  variables:
    NEXTEST_PROFILE: "ci"
    SKIP_DIGID_CONNECTOR: "true"
    SKIP_WALLET_WEB: "true"
    WALLET_PROVIDER_DATABASE__HOST: "postgres"
    WALLET_SERVER_STORE_URL: "postgres://postgres:postgres@postgres:5432/verification_server"
  services:
    - name: "${HARBOR_REGISTRY}/${HARBOR_NLW_PROJECT}/nl-wallet-app-builder-postgres:250122-13f7122c"
      alias: postgres
      variables:
        POSTGRESQL_USER: "postgres"
        POSTGRESQL_PASSWORD: "postgres"
        POSTGRESQL_MULTIPLE_DATABASES: "wallet_provider,verification_server"
  before_script:
    - set -euxo pipefail
    - ./scripts/setup-devenv.sh
    - cd wallet_core
  script:
    - cargo run --bin wallet_provider_migrations --locked -- up
    - DATABASE_URL="${WALLET_SERVER_STORE_URL}" cargo run --bin wallet_server_migrations --locked -- up
    - RUST_BACKTRACE=1 cargo llvm-cov nextest --features integration_test --locked --lcov --output-path lcov.info --no-fail-fast
    - cargo llvm-cov report --locked --cobertura --output-path rust-coverage.xml
  artifacts:
    reports:
      coverage_report:
        path: wallet_core/rust-coverage.xml
        coverage_format: cobertura
      junit: wallet_core/target/nextest/ci/junit.xml
    paths:
      - wallet_core/lcov.info
      - wallet_core/target/nextest/ci/junit.xml

test-rust-doctest:
  rules: !reference [.default-or-release-or-merge-request, rules]
  tags:
    - wallet-ci
  before_script:
    - set -euxo pipefail
    - cd wallet_core
  script:
    - RUST_BACKTRACE=1 cargo test --doc --locked

.test-rust-compilation:
  rules: !reference [.default-or-release-or-merge-request, rules]
  tags:
    - wallet-ci
  variables:
    RUSTFLAGS: "-D warnings"
    CONFIG_ENV: "dev"

test-rust-compilation-android-linux:
  extends: .test-rust-compilation
  script:
    - (cd wallet_core; cargo ndk --target arm64-v8a check --package flutter_api --locked --release)

test-rust-compilation-ios:
  extends: .test-rust-compilation
  tags:
    - macos
  image: sonoma-wallet:0.1.5
  script:
    - cargo check --manifest-path wallet_core/Cargo.toml --locked --release --package flutter_api --target aarch64-apple-ios

.build-binary:
  rules: !reference [.default-or-release-or-merge-request, rules]
  needs:
    - job: test-rust
      artifacts: false
    - job: test-rust-doctest
      artifacts: false
  variables:
    RUSTFLAGS: "-D warnings"
  before_script:
    - set -euxo pipefail
    - cd wallet_core

test-configuration-server-compilation:
  extends: .build-binary
  script:
    - cargo check --locked --release --package configuration_server --bin configuration_server

build-update-policy-server-binary:
  extends: .build-binary
  script:
    - cargo build --locked --target x86_64-unknown-linux-gnu --release --package "update_policy_server" --bin update_policy_server
    - cargo build --locked --target x86_64-unknown-linux-musl --release --package "update_policy_server" --bin update_policy_server
  artifacts:
    paths:
      - wallet_core/target/x86_64-unknown-linux-gnu/release/update_policy_server
      - wallet_core/target/x86_64-unknown-linux-musl/release/update_policy_server

build-wallet-provider-binary:
  extends: .build-binary
  script:
    - cargo build --locked --target x86_64-unknown-linux-gnu --release --package "wallet_provider" --bin wallet_provider
    - cargo build --locked --target x86_64-unknown-linux-musl --release --package "wallet_provider" --bin wallet_provider
  artifacts:
    paths:
      - wallet_core/target/x86_64-unknown-linux-gnu/release/wallet_provider
      - wallet_core/target/x86_64-unknown-linux-musl/release/wallet_provider

build-wallet-provider-migrations-binary:
  extends: .build-binary
  script:
    - cargo build --locked --target x86_64-unknown-linux-musl --release --package "wallet_provider_migrations" --bin wallet_provider_migrations
  artifacts:
    paths:
      - wallet_core/target/x86_64-unknown-linux-musl/release/wallet_provider_migrations

build-pid-issuer-binary:
  extends: .build-binary
  script:
    - cargo build --locked --target x86_64-unknown-linux-gnu --release --package wallet_server --bin pid_issuer --no-default-features --features postgres,issuance
    - cargo build --locked --target x86_64-unknown-linux-musl --release --package wallet_server --bin pid_issuer --no-default-features --features postgres,issuance
  artifacts:
    paths:
      - wallet_core/target/x86_64-unknown-linux-gnu/release/pid_issuer
      - wallet_core/target/x86_64-unknown-linux-musl/release/pid_issuer

build-verification-server-binary:
  extends: .build-binary
  script:
    - cargo build --locked --target x86_64-unknown-linux-gnu --release --package wallet_server --bin verification_server --no-default-features --features postgres,disclosure
    - cargo build --locked --target x86_64-unknown-linux-musl --release --package wallet_server --bin verification_server --no-default-features --features postgres,disclosure
  artifacts:
    paths:
      - wallet_core/target/x86_64-unknown-linux-gnu/release/verification_server
      - wallet_core/target/x86_64-unknown-linux-musl/release/verification_server

build-wallet-server-binary:
  extends: .build-binary
  script:
    - cargo build --locked --target x86_64-unknown-linux-gnu --release --package wallet_server --bin wallet_server --no-default-features --features postgres,issuance,disclosure
    - cargo build --locked --target x86_64-unknown-linux-musl --release --package wallet_server --bin wallet_server --no-default-features --features postgres,issuance,disclosure
  artifacts:
    paths:
      - wallet_core/target/x86_64-unknown-linux-gnu/release/wallet_server
      - wallet_core/target/x86_64-unknown-linux-musl/release/wallet_server

build-wallet-server-migrations-binary:
  extends: .build-binary
  script:
    - cargo build --locked --target x86_64-unknown-linux-musl --release --package "wallet_server_migrations" --bin wallet_server_migrations
  artifacts:
    paths:
      - wallet_core/target/x86_64-unknown-linux-musl/release/wallet_server_migrations

build-demo-relying-party-binary:
  extends: .build-binary
  script:
    - cargo build --locked --target x86_64-unknown-linux-gnu --release --package "mock_relying_party" --bin mock_relying_party
    - cargo build --locked --target x86_64-unknown-linux-musl --release --package "mock_relying_party" --bin mock_relying_party
  artifacts:
    paths:
      - wallet_core/target/x86_64-unknown-linux-gnu/release/mock_relying_party
      - wallet_core/target/x86_64-unknown-linux-musl/release/mock_relying_party

build-gba-hc-converter-binary:
  extends: .build-binary
  script:
    - cargo build --locked --target x86_64-unknown-linux-gnu --release --package "gba_hc_converter" --bin gba_hc_converter
    - cargo build --locked --target x86_64-unknown-linux-musl --release --package "gba_hc_converter" --bin gba_hc_converter
  artifacts:
    paths:
      - wallet_core/target/x86_64-unknown-linux-gnu/release/gba_hc_converter
      - wallet_core/target/x86_64-unknown-linux-musl/release/gba_hc_converter

build-gba-fetch-binary:
  extends: .build-binary
  script:
    - cargo build --locked --target x86_64-unknown-linux-gnu --package "gba_hc_converter" --bin gba_fetch
  artifacts:
    paths:
      - wallet_core/target/x86_64-unknown-linux-gnu/debug/gba_fetch

build-gba-encrypt-binary:
  extends: .build-binary
  script:
    - cargo build --locked --target x86_64-unknown-linux-gnu --package "gba_hc_converter" --bin gba_encrypt
  artifacts:
    paths:
      - wallet_core/target/x86_64-unknown-linux-gnu/debug/gba_encrypt

build-gba-fetch-frontend-binary:
  extends: .build-binary
  script:
    - cargo build --locked --target x86_64-unknown-linux-musl --release --package "gba_hc_converter" --bin gba_fetch_frontend
  artifacts:
    paths:
      - wallet_core/target/x86_64-unknown-linux-musl/release/gba_fetch_frontend
