.default-sonar:
  rules: !reference [.default-or-merge-request, rules]
  image:
    name: "${HARBOR_REGISTRY}/${HARBOR_NLW_PROJECT}/nl-wallet-app-builder-sonar-flutter@sha256:a6f06dfaade25fdcf89d1349acf1e5e86fe1bdc68155eac05a8eafb9aa790e77"

sonar-rust:
  extends: .default-sonar
  needs:
    - job: test-rust
      artifacts: true
    - job: test-rust-doctest
      artifacts: false
  variables:
    GIT_STRATEGY: clone
  before_script:
    - cd wallet_core
  script:
    - sonar-scanner
      -Dsonar.sourceEncoding=UTF-8
      -Dsonar.projectKey=nl-wallet-demo-app-rust
      -Dsonar.exclusions="target/**,platform_support/android/**,platform_support/ios/**"
      -Dsonar.coverage.exclusions=flutter_api/src/bridge_generated/**,mock_relying_party/src/askama_axum.rs,wallet/migration/**,wallet_provider/migrations/**,wallet_server/migration/**
      -Dcommunity.rust.lcov.reportPaths="lcov.info"
      -Dcommunity.rust.test.reportPath="target/nextest/ci/junit.xml"

sonar-flutter:
  extends: .default-sonar
  needs:
    - job: test-flutter
      artifacts: true
    - job: dependency-check
      artifacts: true
  variables:
    GIT_STRATEGY: clone
  before_script:
    - cd wallet_app
  script:
    - flutter pub get --enforce-lockfile
    - sonar-scanner
      -Dsonar.sourceEncoding=UTF-8
      -Dsonar.projectKey=nl-wallet-demo-app
      -Dsonar.sources=.
      -Dsonar.exclusions=android/**,ios/**,test/**,**/*.freezed.dart,**/*.g.dart
      -Dsonar.tests=test/
      -Dsonar.dependencyCheck.htmlReportPath=../dependency-check-report.html
      -Dsonar.dependencyCheck.jsonReportPath=../dependency-check-report.json
      -Dsonar.dart.lcov.reportPaths=coverage/lcov.info

sonar-wallet-web:
  extends: .default-sonar
  needs:
    - job: build-wallet-web
      artifacts: true
  variables:
    GIT_STRATEGY: clone
  before_script:
    - cd wallet_web
    - set -euxo pipefail
  script:
    - sonar-scanner
      -Dsonar.sourceEncoding=UTF-8
      -Dsonar.projectKey=nl-wallet-web
      -Dsonar.sources=lib/
      -Dsonar.exclusions=lib/__tests__/**/*
      -Dsonar.tests=lib/
      -Dsonar.test.inclusions=lib/__tests__/**/*
      -Dsonar.coverage.exclusions=lib/__tests__
      -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info

sonar-ios:
  extends: .default-sonar
  needs:
    - job: test-ios
      artifacts: true
  variables:
    GIT_STRATEGY: clone
  before_script:
    - cd wallet_core/platform_support/ios
  script:
    - sonar-scanner
      -Dsonar.sourceEncoding=UTF-8
      -Dsonar.projectKey=nl-wallet-demo-app-platform-support-ios
      -Dsonar.exclusions="*Tests*/**"
      -Dsonar.c.file.suffixes=-
      -Dsonar.cpp.file.suffixes=-
      -Dsonar.objc.file.suffixes=-
      -Dsonar.coverageReportPaths=../../../fastlane/test_output/sonarqube-generic-coverage.xml

sonar-android:
  extends: .default-sonar
  #  needs:
  #    - job: test-android
  #      artifacts: true
  variables:
    GIT_STRATEGY: clone
  before_script:
    - cd wallet_core/platform_support/android
  script:
    - sonar-scanner
      -Dsonar.sourceEncoding=UTF-8
      -Dsonar.projectKey=nl-wallet-demo-app-platform-support-android
      -Dsonar.exclusions="platform_support/build/**,platform_support/src/androidTest/**"
      -Dsonar.findbugs.allowuncompiledcode=true
#      -Dsonar.junit.reportPaths="platform_support/build/outputs/androidTest-results/*/*.xml"
#      -Dsonar.coverage.jacoco.xmlReportPaths="platform_support/build/reports/coverage/androidTest/*/*/report.xml"
