.wallet-config:
  script:
    - scripts/generate-wallet-config.sh
      wallet_core/wallet
      "$CONFIG_ENV"
      "$STATIC_HOSTNAME"
      "$CONFIG_PUBKEY"
      "$CONFIG_TLS_CA"
  artifacts:
    name: wallet-config-$CONFIG_ENV
    paths:
      - wallet_core/wallet/wallet-config.json
      - wallet_core/wallet/config-server-config.json

wallet-config-ont:
  extends: .wallet-config
  needs:
    - job: build-env-ont
      artifacts: true
  rules:
    - !reference [.on-schedule-nightly-performance-test, rules]
    - !reference [.default-branch, rules]

wallet-config-demo:
  extends: .wallet-config
  needs:
    - job: build-env-demo
      artifacts: true
  rules: !reference [.on-demo-build, rules]
