[package]
name = "wallet"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[lib]
doctest = false

[features]
# Allow the disclosure return URL and its prefix to use http://
allow_insecure_url = ["openid4vc/allow_insecure_url"]
# Read an .env file with configuration overrides when compiling
env_config = ["dep:dotenvy"]
# Use fake Apple attested keys for use in the iOS simulator
fake_attestation = ["platform_support/persistent_mock_apple_attested_key", "platform_support/xcode_env"]
# Include mock implementations and constructors for testing
mock = ["dep:mockall", "nl_wallet_mdoc/generate", "nl_wallet_mdoc/mock", "openid4vc/mock"]
# Export the traits and actual implementations of the Wallet dependencies
wallet_deps = []
# Adds serializability for snapshot tests
snapshot_test = []
# Various test related functionality
test = []

[dependencies]
base64.workspace = true
chrono = { workspace = true, features = ["std", "clock"] }
cfg-if.workspace = true
ciborium.workspace = true
derive_more = { workspace = true, features = ["debug"] }
futures = { workspace = true, features = ["std", "async-await"] }
http.workspace = true
indexmap.workspace = true
itertools.workspace = true
libsqlite3-sys = { workspace = true, features = ["bundled-sqlcipher-vendored-openssl"] }
mime.workspace = true
p256 = { workspace = true, features = ["ecdsa", "std"] }
parking_lot.workspace = true
regex.workspace = true
reqwest = { workspace = true, features = ["json", "rustls-tls-webpki-roots"] }
ring = { workspace = true, features = ["std"] }
sea-orm = { workspace = true, features = ["sqlx-sqlite", "runtime-tokio-rustls", "with-uuid"] }
sea-query.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
serde_urlencoded.workspace = true
serde_with = { workspace = true, features = ["base64"] }
strum = { workspace = true, features = ["derive"] }
thiserror.workspace = true
tokio = { workspace = true, features = ["sync", "fs"] }
tracing.workspace = true
trait-variant.workspace = true
url.workspace = true
uuid = { workspace = true, features = ["v4"] }

mockall = { workspace = true, optional = true }

entity.path = "entity"
error_category = { path = "../error_category", features = ["sentry"] }
migration.path = "migrations"
nl_wallet_mdoc.path = "../mdoc"
openid4vc.path = "../openid4vc"
platform_support.path = "../platform_support"
wallet_common = { path = "../wallet_common", features = ["axum"] }

[dev-dependencies]
aes-gcm = { workspace = true, features = ["std"] }
assert_matches.workspace = true
jsonwebtoken.workspace = true
mockall.workspace = true
rand_core.workspace = true
rstest.workspace = true
serial_test.workspace = true
tempfile.workspace = true
tokio = { workspace = true, features = ["rt", "macros", "test-util", "parking_lot"] }
wiremock.workspace = true

apple_app_attest = { path = "../apple_app_attest", features = ["mock"] }
nl_wallet_mdoc = { path = "../mdoc", features = ["generate", "mock_example_constructors", "test"] }
openid4vc = { path = "../openid4vc", features = ["mock", "test"] }
# enable the "mock" feature for platform_support when running tests
platform_support = { path = "../platform_support", features = ["mock"] }
wallet_common = { path = "../wallet_common", features = [
    "mock_secure_keys",
    "mock_hardware_keys",
    "mock_remote_key",
    "insecure_http_client",
] }

[build-dependencies]
dotenvy = { workspace = true, optional = true }
