#ip = "0.0.0.0"
#port = 8001

[run_mode.preloaded]
# Optional path to folder containing preloaded GBA-V XML responses of the form "{bsn}.xml" (relative to binary or Cargo.toml)
xml_path = "resources/gba-v-responses"
