#ip = "0.0.0.0"
#port = 8001

[run_mode.gbav]
adhoc_url = "https://lap.gbav.idm.diginetwerk.net/gba-v/online/lo3services/adhoc"
# GBA-V username
username = ""
# GBA-V password
password = ""
# GBA-V server certificate trust anchor (BASE64 encoded DER certificate)
trust_anchor = "MIIFhDCC..."

[run_mode.all.gbav.client_keypair]
# GBA-V client certificate (BASE64 encoded DER certificate)
certificate = "MIIIBTCC..."
# GBA-V client certificate key (BASE64 encoded DER key)
key = "MIIJQgI..."
