# Python venv
venv/
_venv/
.venv/

# Python cache
__pycache__/

# Build output directories
_build/

# Structurizr working folders
_structurizr/.structurizr

# Devproxy working folder
openapi/devproxy/*
!openapi/devproxy/devproxyrc.json
