.notification {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  padding: 8px 24px;
  border-radius: 7px;
  background-color: var(--notification-color, var(--primary-color));
  width: 100%;
}

.notification.error {
  background-color: var(--error-color, var(--notification-color, var(--primary-color)));
}

.notification span {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 700;
}

.notification span::before {
  content: " ";
  background: transparent url("../non-free/images/checkmark.svg") center center / contain;
  width: 32px;
  height: 32px;
}

.notification.error span::before {
  background: transparent url("../non-free/images/close.svg") center center / contain;
}
