[package]
name = "wallet_provider_domain"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[lib]
doctest = false

[features]
# Include mock implementations and constructors for testing
mock = ["dep:hmac", "dep:rand", "hsm/mock"]

[dependencies]
chrono = { workspace = true, features = ["serde"] }
derive_more = { workspace = true, features = ["debug", "unwrap"] }
futures.workspace = true
p256.workspace = true
sea-orm.workspace = true
semver.workspace = true
serde.workspace = true
serde_with.workspace = true
strum = { workspace = true, features = ["derive"] }
thiserror.workspace = true
uuid = { workspace = true, features = ["v4"] }

hmac = { workspace = true, optional = true }
rand = { workspace = true, optional = true }

android_attest.path = "../../lib/android_attest"
apple_app_attest.path = "../../lib/apple_app_attest"
crypto.path = "../../lib/crypto"
utils.path = "../../lib/utils"
hsm.path = "../../lib/hsm"
wallet_account.path = "../wallet_account"
