:root {
  --primary-color: #188484;
  --hover-color: #004c4c;
  --title-color: #002328;
  --text-color: #002328;
  --logo-url: url("../images/housing.svg");
}

main a {
  color: var(--text-color);
}

main h2 {
  font-size: 36px;
  font-weight: 550;
  line-height: 1.5;
}

@media only screen and (min-width: 1145px) {
  main h2 {
    font-size: 44px;
    line-height: 1.4;
  }
}
