apiVersion: apps/v1
kind: Deployment
metadata:
  name: mrp-verification-server
spec:
  replicas: 2
  selector:
    matchLabels:
      app: mrp-verification-server
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  revisionHistoryLimit: 2
  progressDeadlineSeconds: 300
  template:
    metadata:
      labels:
        app: mrp-verification-server
        tier: vertrouwd
        egress-frontoffice-policy: allow
        ingress-controller-frontoffice-policy: allow
        db-mrp-in-zeer-vertrouwd: allow
    spec:
      imagePullSecrets:
        - name: harbor-puller
      containers:
        - name: mrp-verification-server
          image: $MRP_VERIFICATION_SERVER_IMAGE
          resources:
            limits:
              memory: "512Mi"
              cpu: "500m"
            requests:
              memory: "512Mi"
              cpu: "300m"
          ports:
            - name: wallet-port
              containerPort: 3001
            - name: requester-port
              containerPort: 3002
          env:
            - name: VERIFICATION_SERVER__WALLET_SERVER__PORT
              value: "3001"
            - name: VERIFICATION_SERVER__REQUESTER_SERVER__IP
              value: "0.0.0.0"
            - name: VERIFICATION_SERVER__REQUESTER_SERVER__PORT
              value: "3002"
            - name: VERIFICATION_SERVER__PUBLIC_URL
              value: "https://${MRP_VERIFICATION_SERVER_EXTERNAL_HOSTNAME}/${MRP_VERIFICATION_SERVER_EXTERNAL_CONTEXT_PATH}/"
            - name: VERIFICATION_SERVER__UNIVERSAL_LINK_BASE_URL
              value: "${UNIVERSAL_LINK_BASE}"
            - name: VERIFICATION_SERVER__STRUCTURED_LOGGING
              value: "true"
            - name: VERIFICATION_SERVER__USECASES__mijn_amsterdam__PRIVATE_KEY_TYPE
              value: "software"
            - name: VERIFICATION_SERVER__USECASES__monkey_bike__PRIVATE_KEY_TYPE
              value: "software"
            - name: VERIFICATION_SERVER__USECASES__online_marketplace__PRIVATE_KEY_TYPE
              value: "software"
            - name: VERIFICATION_SERVER__USECASES__xyz_bank__PRIVATE_KEY_TYPE
              value: "software"
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: db-cluster-mrp-app
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-cluster-mrp-app
                  key: password
            - name: VERIFICATION_SERVER__STORAGE__URL
              value: "postgres://$(DB_USERNAME):$(DB_PASSWORD)@db-cluster-mrp-rw:5432/verification_server"
            - name: VERIFICATION_SERVER__ISSUER_TRUST_ANCHORS
              valueFrom:
                configMapKeyRef:
                  name: nl-wallet-server-trust-anchors
                  key: issuer_trust_anchors
            - name: VERIFICATION_SERVER__READER_TRUST_ANCHORS
              valueFrom:
                configMapKeyRef:
                  name: nl-wallet-server-trust-anchors
                  key: reader_trust_anchors
            - name: VERIFICATION_SERVER__EPHEMERAL_ID_SECRET
              valueFrom:
                secretKeyRef:
                  name: nl-mrp-verification-server-verifier-ephemeral-id-secret
                  key: verifier_ephemeral_id_secret
            - name: VERIFICATION_SERVER__USECASES__mijn_amsterdam__CERTIFICATE
              valueFrom:
                secretKeyRef:
                  name: nl-mrp-verification-server-verifier-usecases-mijn-amsterdam
                  key: certificate
            - name: VERIFICATION_SERVER__USECASES__mijn_amsterdam__PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  name: nl-mrp-verification-server-verifier-usecases-mijn-amsterdam
                  key: private_key
            - name: VERIFICATION_SERVER__USECASES__monkey_bike__CERTIFICATE
              valueFrom:
                secretKeyRef:
                  name: nl-mrp-verification-server-verifier-usecases-monkey-bike
                  key: certificate
            - name: VERIFICATION_SERVER__USECASES__monkey_bike__PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  name: nl-mrp-verification-server-verifier-usecases-monkey-bike
                  key: private_key
            - name: VERIFICATION_SERVER__USECASES__online_marketplace__CERTIFICATE
              valueFrom:
                secretKeyRef:
                  name: nl-mrp-verification-server-verifier-usecases-online-marketplace
                  key: certificate
            - name: VERIFICATION_SERVER__USECASES__online_marketplace__PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  name: nl-mrp-verification-server-verifier-usecases-online-marketplace
                  key: private_key
            - name: VERIFICATION_SERVER__USECASES__xyz_bank__CERTIFICATE
              valueFrom:
                secretKeyRef:
                  name: nl-mrp-verification-server-verifier-usecases-xyz-bank
                  key: certificate
            - name: VERIFICATION_SERVER__USECASES__xyz_bank__PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  name: nl-mrp-verification-server-verifier-usecases-xyz-bank
                  key: private_key
            - name: RUST_LOG
              value: "debug,hyper=warn"
