[package]
name = "demo_utils"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
accept-language.workspace = true
anyhow.workspace = true
askama.workspace = true
axum = { workspace = true, features = ["query"] }
base64.workspace = true
nutype.workspace = true
indexmap.workspace = true
regex = { workspace = true }
serde = { workspace = true, features = ["derive"] }
strum.workspace = true
serde_with = { workspace = true, features = ["macros"] }
tower-http.workspace = true
tracing.workspace = true

attestation_data.path = "../../lib/attestation_data"
crypto.path = "../../lib/crypto"
http_utils = { path = "../../lib/http_utils", features = ["server"] }
openid4vc.path = "../../lib/openid4vc"
utils.path = "../../lib/utils"

[dev-dependencies]
rstest.workspace = true
serde_json.workspace = true
