[package]
name = "demo_utils"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[lib]
doctest = false

[dependencies]
accept-language.workspace = true
anyhow.workspace = true
askama.workspace = true
axum = { workspace = true, features = ["query"] }
base64.workspace = true
derive_more = { workspace = true, features = ["as_ref", "debug", "from"] }
regex = { workspace = true }
serde = { workspace = true, features = ["derive"] }
strum.workspace = true
serde_with = { workspace = true, features = ["macros"] }
tower-http.workspace = true
tracing.workspace = true

attestation_data.path = "../../lib/attestation_data"
attestation_types.path = "../../lib/attestation_types"
crypto.path = "../../lib/crypto"
dcql.path = "../../lib/dcql"
http_utils = { path = "../../lib/http_utils", features = ["server"] }
openid4vc.path = "../../lib/openid4vc"
token_status_list.path = "../../lib/token_status_list"
utils.path = "../../lib/utils"

[dev-dependencies]
chrono.workspace = true
indexmap.workspace = true
rstest.workspace = true
serde_json.workspace = true
