[package]
name = "wallet_ca"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[lib]
doctest = false

[dependencies]
anyhow.workspace = true
chrono.workspace = true
clap = { workspace = true, features = ["derive", "string"] }
clio = { workspace = true, features = ["clap-parse"] }
itertools.workspace = true
p256 = { workspace = true, features = ["ecdsa", "pem"] }
pem.workspace = true
serde_json.workspace = true
x509-parser.workspace = true
wallet_common.path = "../wallet_common"

nl_wallet_mdoc = { path = "../mdoc", features = ["generate"] }

[dev-dependencies]
assert_cmd.workspace = true
assert_fs.workspace = true
predicates = { workspace = true, features = ["regex"] }
time.workspace = true

nl_wallet_mdoc = { path = "../mdoc", features = ["mock"] }
