
# Integration test cases

# RP: monkey_bike
[[usecases.multiple_cards]]
docType = "com.example.pid"
nameSpaces = { "com.example.pid" = { given_name = true } }

[[usecases.multiple_cards]]
docType = "com.example.address"
nameSpaces = { "com.example.address" = { resident_street = true } }
