CONFIG_SERVER_BASE_URL=https://${SERVICES_HOST}:${CONFIG_SERVER_PORT}/config/v1/
CONFIG_SERVER_TRUST_ANCHORS=${CONFIG_SERVER_CA_CRT}
CONFIG_SERVER_SIGNING_PUBLIC_KEY=${CONFIG_SIGNING_PUBLIC_KEY}
WALLET_PROVIDER_BASE_URL=http://${SERVICES_HOST}:${WALLET_PROVIDER_PORT}/api/v1/
WALLET_PROVIDER_TRUST_ANCHORS=${WALLET_PROVIDER_SERVER_CA_CRT}
CERTIFICATE_PUBLIC_KEY=${WP_CERTIFICATE_PUBLIC_KEY}
INSTRUCTION_RESULT_PUBLIC_KEY=${WP_INSTRUCTION_RESULT_PUBLIC_KEY}
PID_ISSUER_URL=http://${SERVICES_HOST}:${PID_ISSUER_WS_PORT}/issuance/
DIGID_URL=https://${SERVICES_HOST}:${RDO_MAX_PORT}/
DIGID_CLIENT_ID=${WALLET_CLIENT_ID}
DIGID_TRUST_ANCHORS=${DIGID_CA_CRT}
MDOC_TRUST_ANCHORS=${PID_CA_CRT}
RP_TRUST_ANCHORS=${RP_CA_CRT}
