BASE_URL=http://${DIGID_CONNECTOR_HOST}:3000/api/v1/
CERTIFICATE_PUBLIC_KEY=${WP_CERTIFICATE_PUBLIC_KEY}
INSTRUCTION_RESULT_PUBLIC_KEY=${WP_INSTRUCTION_RESULT_PUBLIC_KEY}
PID_ISSUER_URL=http://${DIGID_CONNECTOR_HOST}:3003/
DIGID_URL=https://${DIGID_CONNECTOR_HOST}:8006/
DIGID_CLIENT_ID=${WALLET_CLIENT_ID}
TRUST_ANCHOR_CERTS=${PID_CA_CRT}
