version = 10
mdoc_trust_anchors = ["${PID_CA_CRT}"]

[lock_timeouts]
inactive_timeout = 300
background_timeout = 300

[account_server]
base_url = "http://${SERVICES_HOST}:3000/api/v1/"

[pid_issuance]
pid_issuer_url = "http://${SERVICES_HOST}:3003/"
digid_url = "https://${SERVICES_HOST}:8006/"
digid_client_id = "${WALLET_CLIENT_ID}"
digid_redirect_path = "authentication"

[disclosure]
uri_base_path = "disclosure"
rp_trust_anchors = ["${RP_CA_CRT}"]
