CONFIG_SERVER_BASE_URL=http://${SERVICES_HOST}:3000/config/v1/
CONFIG_SERVER_TRUST_ANCHORS=${CONFIG_SERVER_CA_CRT}
CONFIG_SERVER_SIGNING_PUBLIC_KEY=${CONFIG_SIGNING_PUBLIC_KEY}
WALLET_PROVIDER_BASE_URL=http://${SERVICES_HOST}:3000/api/v1/
CERTIFICATE_PUBLIC_KEY=${WP_CERTIFICATE_PUBLIC_KEY}
INSTRUCTION_RESULT_PUBLIC_KEY=${WP_INSTRUCTION_RESULT_PUBLIC_KEY}
PID_ISSUER_URL=http://${SERVICES_HOST}:3003/
DIGID_URL=https://${SERVICES_HOST}:8006/
DIGID_CLIENT_ID=${WALLET_CLIENT_ID}
MDOC_TRUST_ANCHORS=${PID_CA_CRT}
RP_TRUST_ANCHORS=${RP_CA_CRT}
